<p>.Issue .Issue-labManageIssues {
  color: #326dcf
}

.Issue .Issue-labSearchHeader {
  color: #FF9933
}

.Issue .dojoxGrid-header .dojoxGrid-cell {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:#656565 none repeat-x scroll center top;
  background-image: url('resources/images/header/gridbar.png');
  background-repeat: repeat-x;
  border:1px solid #FFFFFF;
  color:#FFFFFF;
  font-size:12px;
}

.Issue .dojoxGrid-header {
  background-color:#FFFFFF;
}
.Issue .Issue-labManageIssues {
    color: #FF9933
}

.Issue .Issue-labSearchIssue {
    color: #326dcf
}

.Issue .Issue-labManageIssue {
  color: #326dcf
}

.Issue .Issue-labManageHeader {
  color: #FF9933
}</p>