.YahooPage .YahooPage-template1 {
	background:#1b76ad;
	
}

.YahooPage .YahooPage-appNameLabel {
	color:#f0b962;
}

.YahooPage .YahooPage-panel4 {
	background:#88ccff;
}

.YahooPage .YahooPage-content1 {
	background:#f5f5f5
}

.YahooPage .YahooPage-button1 {
	background:#89b31f;
	color:#fff;
}

