target/
designtime/
.settings/
.project
.classpath
.DS_Store
*.class
*#*
*~
wavemaker/wavemaker-studio/src/main/webapp/WEB-INF/classes/
wavemaker/wavemaker-studio/src/main/webapp/WEB-INF/project-managers.xml
wavemaker/wavemaker-studio/src/main/webapp/WEB-INF/project-services.xml
wavemaker/wavemaker-studio/src/main/webapp/WEB-INF/classes/*
wavemaker/wavemaker-studio/src/main/webapp/WEB-INF/lib/*
wavemaker/wavemaker-studio/src/main/webapp/META-INF/MANIFEST.MF
wavemaker/wavemaker-studio/src/main/webapp/services/
wavemaker/wavemaker-studio/src/main/webapp/types.js
wavemaker/wavemaker-studio/src/main/webapp/lib/dojo/dojo/dojo_build.js
wavemaker/wavemaker-studio/src/main/webapp/lib/dojo/release-temp/
wavemaker/wavemaker-studio/src/main/webapp/lib/dojo/release/
wavemaker/wavemaker-studio/src/main/webapp/build
wavemaker/wavemaker-studio/src/main/webapp/lib/build
wavemaker/wavemaker-studio/src/main/webapp/lib/compressed
wavemaker/wavemaker-studio/src/main/webapp/lib/wm/compressed
wavemaker/wavemaker-studio/src/main/webapp/lib/dojo/dijit/themes/tundra/t.css
wavemaker/wavemaker-studio/src/main/webapp/lib/dojo/dijit/themes/tundra/tmobile.css
wavemaker/wavemaker-studio/src/main/webapp/lib/dojo/dojo/dojo_build.js.gz
wavemaker/wavemaker-studio/src/main/webapp/lib/wm/WMVersion.txt
wavemaker/wavemaker-common/src/main/webapp/
wavemaker/wavemaker-json/src/main/webapp/
wavemaker/wavemaker-runtime/src/main/webapp/
wavemaker/wavemaker-test-support/src/main/webapp/
wavemaker/wavemaker-tools-cloudfoundry/src/main/webapp/
wavemaker/wavemaker-tools/src/main/webapp/
wavemaker/wavemaker-tools/src/main/webapp/
wavemaker-cloudfoundry/wavemaker-cloudfoundry-spinup/src/main/webapp/
