target/
designtime/
.settings/
.project
.classpath
dev/studio/src/main/webapp/WEB-INF/project-managers.xml
dev/studio/src/main/webapp/WEB-INF/project-services.xml
dev/studio/src/main/webapp/services/
dev/studio/src/main/webapp/types.js

.DS_Store
*#*
*~