classes/
target/
designtime/
.settings/
.project
.classpath
dev/core/tools/src/main/resources/com/wavemaker/tools/project/templateapp.zip
dev/studio/src/main/webapp/WEB-INF/project-managers.xml
dev/studio/src/main/webapp/WEB-INF/project-services.xml
dev/studio/src/main/webapp/services/
dev/studio/src/main/webapp/types.js
dev/studio/src/main/webapp/WEB-INF/classes
dev/studio/src/main/webapp/WEB-INF/lib
dev/studio/src/main/webapp/META-INF/MANIFEST.MF
.DS_Store
*#*
*~

dev/build
