.MAccount .MAccount-labTenantDetail {
	  color: #326dcf
}

.MAccount .MAccount-labMyAccount {
	color: #FF9933
}

.MAccount .MAccount-labUserDetail {
	  color: #326dcf
}

.MAccount .MAccount-labTenant {
	color: #FF9933
}

