/* GROUP: Standard Button */
/* dijitReset needed for popupButton */
.wm_template .wmbutton,
.wm_template button.wmbutton, /* mostly to clobber .dj_ie .wmbutton in default/theme.css */
.wm_template .wmbutton .dijitReset {
	font-family: sans-serif;
	font-size: 12pt;
	color: #FFFFFF;
	font-weight: bold;
}
.wm_template .wmbutton {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 4px 4px 4px black;
	background-color: #333333;
	background-image: none;
	filter: none;
	background-position: left top;
	background-repeat: no-repeat;
}

/* GROUP: Hover State */
 .wm_template   .wmbutton:hover {
 	color: #FFFFFF;
	font-weight: bold;
        box-shadow: 0px 0px 0px black;    
	background-color: #333333;
	background-image: none;
	filter: none;
	background-position: left top;
	background-repeat: no-repeat;
}


/* GROUP: Active State */
/* button.wmbutton required instead of .wmbutton for IE8 */
.wm_template   button.wmbutton.toggleButtonDown,
.wm_template   .wmbutton.Active,
.wm_template   .wmbutton.Active:hover,
.wm_template   .wmbutton:active,
.wm_template   .wmbutton:hover:active {
	color: #FFFFFF;
	font-weight: bold;
	box-shadow: 4px 4px 4px black;
	background-color: #333333;
	background-image: none;
	filter: none;
	background-position: left top;
	background-repeat: no-repeat;
}

/* GROUP: Focus State */
/* NOTE: This occurs when the user tabs to the button.
  It may also occur when the user clicks the button */
.wm_template   .wmbutton:focus {
     outline: solid 1px #9999ff;
}

/* GROUP: Popup Menu */
.wm_template .wmPopupButton .popupIcon {
   background-image: url(lib/wm/base/widget/themes/wm_default/images/comboArrowDownDark.png);
   background-position: 0% 50%;
}