/* GROUP: Main Document Styles */
.wm_template  .wmapproot,
.wm_template.wmapproot > .wmpagecontainer {
    border-radius: 4px;
    box-shadow: 4px 4px 4px black;
    font-family: sans-serif;
    font-size: 12pt;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #444444; /* Document-Styles-Background_Color */
    background-image: none;
}
