/* GROUP: Menu Bar Styling */
.wm_template .dojoMenu .dijitMenu,
.wm_template .dojoMenu .dijitMenuBar,
.wm_template .dojoMenu .dijitMenuItem {
  font-family: sans-serif;
  font-size: 12px; 
  font-weight: bold;
  color: inherit;

  background-color: transparent; /* THEMER: HIDE */
  background-image: none; /* THEMER: HIDE */
}

.wm_template .dijitMenuBar .dijitMenuItem {
  margin-right: 10px;
}

/* GROUP: Menu Bar Hover */
.wm_template .dojoMenu .dijitMenuItem.dijitMenuItemHover {
	color: #FFFFFF;
	background-color: #444444; /* Document-ClickablesHover-Background_Color */
	background-image: none;
	outline: 0px;
}

/* GROUP: Menu Bar Select */
.wm_template .dojoMenu .dijitMenuItem.dijitMenuItemSelected {
color: #FFFFFF;
background-color: #333333;
background-image: none;
outline: 0px;
}

/* GROUP: Horizontal Menu Bar Icon */
.wm_template div.dijitMenuBar div.dijitMenuItem {
   background-image: url(images/comboArrowDownDark.png) !important; 
   background-position: 90% 50% !important;
   background-repeat: no-repeat !important;
    padding-right: 25px !important;
}
.Project99Theme .dijitMenuBar .dijitMenuItem:last-child {
    padding-right: 0px !important; /* THEMER: HIDE */
}


/* GROUP: Popup Menu Box */
.wm_template .dijitMenuPopup .dijitMenuTable {
    background-color: #444444;
    background-image: none;
    border: solid 1px black;
    border-top: solid 1px #999999;
}
.wm_template .dijitMenuPopup {
    box-shadow: 3px 3px 4px black;
}

/* GROUP: Popup Menu Item */
.wm_template .dijitPopup .dijitMenuTable .dijitMenuItem {
    font-family: sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    background-color: transparent; /* THEMER: IGNORE */
    border-bottom: solid 1px #AAAAAA;
}

/* GROUP: Popup Menu Item Hover/Selected */
/* NOTE: There is no good way with dojo menus to distinguish between hover and select */
.wm_template .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemFocused,
.wm_template .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemSelected {
    color: #FFFFFF;
    background-color: #333333;
    background-image: none;
    outline-width: 0;
}

