/* GROUP: Bevel */

.wm_template .wmbevel {
    background-color: #444444;
}

/* GROUP: Splitter */
.wm_template div.wmsplitter-h,
.wm_template div.wmsplitter-v {
    background-color: #444444;
}
/* GROUP: Splitter Hover */
.wm_template div.wmsplitter-h:hover,
.wm_template div.wmsplitter-v:hover {
    background-color: #444444;
}
/* GROUP: Splitter Horizontal Image */
.wm_template .wmsplitter-h {
	background-image: url(images/splitter_bg_h.png);
}

/* GROUP: Splitter Vertical Image */
.wm_template .wmsplitter-v {
	background-image: url(images/splitter_bg_v.png);
}
