Package: wavemaker-@PROJECTTYPE@
Version: @VERSION@
Section: devel 
Priority: optional
Architecture: i386
Maintainer: Ed Callahan <community@wavemaker.com>
Provides: wavemaker-@PROJECTTYPE@
Description: Web 2.0 WSYWIG AJAX Development
 WaveMaker provides for the Web-Fast development of CIO-Safe
 applications.
