<!-- ﻿<div id="_studio_footer">Copyright &copy; 2008-2010 <a target="_blank" href="http://www.wavemaker.com" style="color:#b4d5f0;">WaveMaker Software</a>, Studio Version: @VERSION@</div> -->
﻿<div id="_studio_footer">Copyright &copy; 2008-2011 <a target="_blank" href="http://www.wavemaker.com" style="color:0000ff;">WaveMaker Software</a>, Studio Version: @VERSION@</div>

