<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="book1"
        class="com.wavemaker.tools.spring.Book"
        lazy-init="true"/>   
    <bean id="book2"
        class="com.wavemaker.tools.spring.Book"
        lazy-init="true"/>
    <bean id="bookManager"
        class="com.wavemaker.tools.spring.BookManager"
        scope="singleton"
        lazy-init="true">
        <property name="books">
            <list>
                <ref bean="book1"/>
                <ref bean="book2"/>
            </list>
        </property>
    </bean>
</beans>
