#studio_MenuDesignerDialog_menuDesigner_menuItemImageListBtn {
        cursor: pointer;
	-moz-border-radius: 4px; /* Document-ClickablesDefault-BorderStyle_Radius */
	-webkit-border-radius: 4px; /* Document-ClickablesDefault-BorderStyle_Radius */
	border-radius: 4px; /* Document-ClickablesDefault-BorderStyle_Radius */
	-moz-box-shadow: 2px 2px 2px #666666; /* Document-ClickablesDefault-BorderStyle_Shadow */
	-webkit-box-shadow: 2px 2px 2px #666666; /* Document-ClickablesDefault-BorderStyle_Shadow */
	box-shadow: 2px 2px 2px #666666; /* Document-ClickablesDefault-BorderStyle_Shadow */
}

#studio_MenuDesignerDialog_menuDesigner_menuItemImageListBtn:hover {
	-moz-box-shadow: 1px 1px 1px #999999; /* Document-ClickablesDefault-BorderStyle_Shadow */
	-webkit-box-shadow: 1px 1px 1px #999999; /* Document-ClickablesDefault-BorderStyle_Shadow */
	box-shadow: 1px 1px 1px #999999; /* Document-ClickablesDefault-BorderStyle_Shadow */
}