.WidgetThemerPage .Header {
	background-color: black;
	font-weight: bold;
	font-size: 14px;
}
.WidgetThemerPage .SubHeading {
    font-weight: bold;
    font-size: 14px;
}

.WidgetThemerPage .WidgetThemerDemoPanel {
    background-color: #fff;
    color: #000;
    border-radius: 8px;    

}