.GmailPage .GmailPage-template1 {
	background:#9dc9ee
}

.GmailPage .GmailPage-panel2 {
	background:#e2e9ef
}

.GmailPage .GmailPage-button1 {
	background:#ededed
}

.GmailPage .GmailPage-panel4 {
	background:#fffeee
}

.GmailPage .GmailPage-error_lbl {
	color:red
}

.GmailPage .GmailPage-loading_lbl {
	color:#0373bc;
	font-weight:bold;
}

