.FeedReaderPage .FeedReaderPage-panel3 {
  background:#f7d085
}

.FeedReaderPage .FeedReaderPage-template2 {
    background:#92501d
}

.FeedReaderPage .FeedReaderPage-panel4 {
  background:#ededdb
}

.FeedReaderPage .FeedReaderPage-splitter1 {
  background:#fff;
}

.FeedReaderPage .FeedReaderPage-splitter2 {
  backgroun:white
}

.AmazonPage .AmazonPage-template1 {
	background:#4893d2;
}

.AmazonPage .AmazonPage-appNameLabel {
	color:#fcffb8
}

.AmazonPage .AmazonPage-editor1 {
	background:#e5f8ff;
}

.AmazonPage .AmazonPage-editor2 {
	background:#e5f8ff
}

.AmazonPage .AmazonPage-editor2 .wmeditor-caption {
	color:black;
	font-weight:bold;
}

.AmazonPage .AmazonPage-editor1 .wmeditor-caption {
	color:black;
	font-weight:bold;
}

.AmazonPage .AmazonPage-label1 {
	color:black;
	font-weight:bold;
}

.AmazonPage .AmazonPage-button1 {
	background:#ffb32c;
	color:white;
font-weight:bold;
}

.AmazonPage .AmazonPage-splitter1 {
	background:#ABB8CF
	
}

.AmazonPage .AmazonPage-label2 {
	font-weight:bold;
}

