  /**************************************************************************************************
   * TYPE:        wm.AbstractEditor / wm._BaseEditor
   *
   * DESCRIPTION: Sets the styling of all editors, as well as a few things I've arbitrarily linked to 
   *              editor style such as the progress bar.  The first section of this document
   *              consists of common editors styles regardless of what kind of panel the editor is in.
   ************************************************************************************************/

/* Give editors the standard border color, and get rid of the outline styling which is unnecessary and looks bad in webkit */
.wm_template .wmeditor .dijitTextBox.dijitFocused,
.wm_template .wmeditor .dijitTextArea.dijitFocused,
.wm_template .wmeditor .dijitComboBox.dijitFocused {
	outline-width: 0 !important;    
}

.wm_template .wmeditor .wmeditor-caption {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

/* Make all editors equally rounded.  This is not for technical reasons.  It is my opinion that a theme should
 * allow some things to vary, and other things should provide a consistent common look.
 */
.wm_template  .wmeditor .dijitTextBox,
.wm_template  .wmeditor .dijitTextArea,
.wm_template  .wmeditor .dijitComboBox
 {
     /* Common-Editor_BorderStyle_Radius */
     -moz-border-radius: 4px; /* Common-Editor_BorderStyle_Radius */
     -webkit-border-radius: 4px; /* Common-Editor_BorderStyle_Radius */
     border-radius: 4px; /* Common-Editor_BorderStyle_Radius */
}

/* Can't round the top edges of the richtext editor until we're ready to tackle rounding dojo's toolbar */
.wm_template .wmeditor.wmrichtext {
    /* Common-Editor_BorderStyle_Radius */
    -moz-border-radius-bottomleft: 4px;  /* Common-Editor_BorderStyle_Radius */
    -moz-border-radius-bottomright: 4px; /* Common-Editor_BorderStyle_Radius */
    -webkit-border-bottom-left-radius: 4px; /* Common-Editor_BorderStyle_Radius */
    -webkit-border-bottom-right-radius: 4px; /* Common-Editor_BorderStyle_Radius */
    border-radius-bottomleft: 4px; /* Common-Editor_BorderStyle_Radius */
    border-radius-bottomright: 4px; /* Common-Editor_BorderStyle_Radius */
}



  /**************************************************************************************************
   * TYPE:        dijit.form.ComboBox/FilteringSelect/Select popup button
   *
   * DESCRIPTION: We need to set the background color and background image for the menu's popup
   *              button.  Much trickier is setting the right radius to match the outer radius
   *              used for the editor.  It can't use the exact same radius value; has to be 
   *              a bit smaller radius, but I don't yet have an automated rule for how much
   *             smaller.
   ************************************************************************************************/
.wm_template .wmeditor .dijitComboBox .dijitArrowButton {
    background-color: #666666; /* Document-HeadersDefault-Background_Color */
    background-image: none;
}

.wm_template .wmeditor .dijitComboBox .dijitArrowButton {
    -moz-border-radius-bottomright: 2px; /* wm.SelectMenu-Inner_Radius */
    -moz-border-radius-topright: 2px;/* wm.SelectMenu-Inner_Radius */
    -webkit-border-bottom-right-radius: 2px;/* wm.SelectMenu-Inner_Radius */
    -webkit-border-top-right-radius: 2px;/* wm.SelectMenu-Inner_Radius */
    border-radius-bottomright: 2px;/* wm.SelectMenu-Inner_Radius */
    border-radius-topright: 2px;/* wm.SelectMenu-Inner_Radius */
}

.wm_template .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background-image: url(images/comboArrowDown.png); /* wm.SelectMenu-Down-Arrow_Image */
        -moz-border-radius-bottomright: 2px;/* wm.SelectMenu-Inner_Radius */
        -moz-border-radius-topright: 2px;/* wm.SelectMenu-Inner_Radius */
        -webkit-border-bottom-right-radius: 2px;/* wm.SelectMenu-Inner_Radius */
        -webkit-border-top-right-radius: 2px;/* wm.SelectMenu-Inner_Radius */
         border-radius-bottomright: 2px;/* wm.SelectMenu-Inner_Radius */
         border-radius-topright: 2px;/* wm.SelectMenu-Inner_Radius */
}

  /**************************************************************************************************
   * TYPE:        Slider
   *
   * TODO:        I haven't really worked in support for slider into themes.  Color and Background
   *              should show up when editting the slider widget in the theme designer or colors/images
   *              should be automatically assigned. I don't think this gets so much use that I've 
   *              put in the effort just yet.
   ************************************************************************************************/
.wm_template .dijitSlider .dijitProgressBarLabel {
    color: white;
}

.wm_template .dijitSlider .dijitSliderImageHandleH {
    background: url(images/preciseSliderThumb.png) no-repeat 50% 0%;
    outline-width: 0;
}



  /**************************************************************************************************
   * TYPE:        wm.AbstractEditor / wm._BaseEditor (default settings)
   *
   * DESCRIPTION: All styles applied at the Document-Level are never disabled, and apply anywhere
   *              that another panel class doesn't override the behavior.
   ************************************************************************************************/
@media screen { /* Document-Level */ 

    .wm_template .wmeditor .dijitTextBox,
    .wm_template .wmeditor .dijitTextArea,
    .wm_template .wmeditor .dijitComboBox,
    .wm_template .dijitTimePickerItem,
    .wm_template .wmeditor .RichTextEditable iframe {
	/* Document-EditorsDefault-Border */
	border-color: #666666;  /* Document-EditorsDefault-Border_Color */
	border-width: 1px; /* Document-EditorsDefault-Border_BorderSize */

	/* Document-EditorsDefault-Font */
	font-family: sans-serif; /* Document-EditorsDefault-Font_Family */
	font-size: 12pt; /* Document-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* Document-EditorsDefault-Font_Color */
	font-weight: bold; /* Document-EditorsDefault-Font_Weight */

	/* Document-EditorsDefault-Background */
	background-color: #444444; /* Document-EditorsDefault-Background_Color */
	background-image: url(images/threeD.png); /* Document-EditorsDefault-Background_Image */
	background-position: left top;  /* Document-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-EditorsDefault-Background_Image-Repeat */

    }


    .wm_template .wmeditor .dijitTextBox.dijitHover,
    .wm_template .wmeditor .dijitTextArea:hover,
    .wm_template .wmeditor .dijitComboBox.dijitHover,
    .wm_template .wmeditor .RichTextEditable:hover iframe,
    .wm_template .dijitTimePickerMarker.dijitTimePickerMarkerHover,
    .wm_template .dijitTimePickerItem.dijitTimePickerItemHover {
	/* Document-EditorsHover-Font */
	color: #FFFFFF; /* Document-EditorsHover-Font_Color */

	border-color: #666666;  /* Document-EditorsHover-Border_Color */

	/* Document-EditorsHover-Background */
	background-color: #444444; /* Document-EditorsHover-Background_Color */
	background-image: url(images/threeD.png); /* Document-EditorsHover-Background_Image */
	background-position: left top;  /* Document-EditorsHover-Background_Image-Position */
	background-repeat: repeat-x; /* Document-EditorsHover-Background_Image-Repeat */
    }

    .wm_template .wmeditor .dijitTextBox.dijitFocused,
    .wm_template .wmeditor .dijitTextBox.dijitFocused.dijitHover,
    .wm_template .wmeditor .dijitTextArea.dijitFocused,
    .wm_template .wmeditor .dijitTextArea.dijitFocused:hover,
    .wm_template .wmeditor .dijitComboBox.dijitFocused,
    .wm_template .wmeditor .dijitComboBox.dijitFocused.dijitHover,
    .wm_template .wmeditor .RichTextEditable.Focused iframe {
	/* Document-EditorsFocus-Font */
	color: #FFFFFF; /* Document-EditorsFocus-Font_Color */

	border-color: #666666;  /* Document-EditorsFocus-Border_Color */

	/* Document-EditorsFocus-Background */
	background-color: #444444; /* Document-EditorsFocus-Background_Color */
	background-image: url(images/threeD.png); /* Document-EditorsFocus-Background_Image */
	background-position: left top;  /* Document-EditorsFocus-Background_Image-Position */
	background-repeat: repeat-x; /* Document-EditorsFocus-Background_Image-Repeat */
    }

    /* END SECTION wm.AbstractEditor */
    
    
    
}


@media screen { /* MainContent-Level */ 
    .wm_template .MainContent .wmeditor .dijitTextBox,
    .wm_template .MainContent .wmeditor .dijitTextArea,
    .wm_template .MainContent .wmeditor .dijitComboBox,
    .wm_template .MainContent .dijitTimePickerItem,
    .wm_template .MainContent .wmeditor .RichTextEditable iframe {
	/* MainContent-EditorsDefault-Border */
	border-color: #666666;  /* MainContent-EditorsDefault-Border_Color */
	border-width: 1px; /* MainContent-EditorsDefault-Border_BorderSize */

	/* MainContent-EditorsDefault-Font */
	font-family: sans-serif; /* MainContent-EditorsDefault-Font_Family */
	font-size: 12pt; /* MainContent-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* MainContent-EditorsDefault-Font_Color */
	font-weight: bold; /* MainContent-EditorsDefault-Font_Weight */

	/* MainContent-EditorsDefault-Background */
	background-color: #444444; /* MainContent-EditorsDefault-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-EditorsDefault-Background_Image */
	background-position: left top;  /* MainContent-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-EditorsDefault-Background_Image-Repeat */

    }
    .wm_template .wmeditor.wmrichtext {
	/* MainContent-EditorsDefault-BorderStyle_Radius */
	-moz-border-radius-bottomleft: 4px;  /* MainContent-EditorsDefault-BorderStyle_Radius */
	-moz-border-radius-bottomright: 4px; /* MainContent-EditorsDefault-BorderStyle_Radius */
	-webkit-border-bottom-left-radius: 4px; /* MainContent-EditorsDefault-BorderStyle_Radius */
	-webkit-border-bottom-right-radius: 4px; /* MainContent-EditorsDefault-BorderStyle_Radius */
	border-radius-bottomleft: 4px; /* MainContent-EditorsDefault-BorderStyle_Radius */
	border-radius-bottomright: 4px; /* MainContent-EditorsDefault-BorderStyle_Radius */
    }

    .wm_template .MainContent .wmeditor .dijitTextBox.dijitHover,
    .wm_template .MainContent .wmeditor .dijitTextArea:hover,
    .wm_template .MainContent .wmeditor .dijitComboBox.dijitHover,
    .wm_template .MainContent .wmeditor .RichTextEditable:hover iframe,
    .wm_template .MainContent .dijitTimePickerMarker.dijitTimePickerMarkerHover,
    .wm_template .MainContent .dijitTimePickerItem.dijitTimePickerItemHover {
	/* MainContent-EditorsHover-Font */
	color: #FFFFFF; /* MainContent-EditorsHover-Font_Color */

	border-color: #666666;  /* MainContent-EditorsHover-Border_Color */

	/* MainContent-EditorsHover-Background */
	background-color: #444444; /* MainContent-EditorsHover-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-EditorsHover-Background_Image */
	background-position: left top;  /* MainContent-EditorsHover-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-EditorsHover-Background_Image-Repeat */
    }

    .wm_template .MainContent .wmeditor .dijitTextBox.dijitFocused,
    .wm_template .MainContent .wmeditor .dijitTextBox.dijitFocused.dijitHover,
    .wm_template .MainContent .wmeditor .dijitTextArea.dijitFocused,
    .wm_template .MainContent .wmeditor .dijitTextArea.dijitFocused:hover,
    .wm_template .MainContent .wmeditor .dijitComboBox.dijitFocused,
    .wm_template .MainContent .wmeditor .dijitComboBox.dijitFocused.dijitHover,
    .wm_template .MainContent .wmeditor .RichTextEditable.Focused iframe {
	/* MainContent-EditorsFocus-Font */
	color: #FFFFFF; /* MainContent-EditorsFocus-Font_Color */

	border-color: #666666;  /* MainContent-EditorsFocus-Border_Color */

	/* MainContent-EditorsFocus-Background */
	background-color: #444444; /* MainContent-EditorsFocus-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-EditorsFocus-Background_Image */
	background-position: left top;  /* MainContent-EditorsFocus-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-EditorsFocus-Background_Image-Repeat */
    }

    
    
}


@media screen { /* EmphasizedContent-Level */ 
    /* BEGIN inner content panel editors */

    .wm_template .EmphasizedContent .wmeditor .dijitTextBox,
    .wm_template .EmphasizedContent .wmeditor .dijitTextArea,
    .wm_template .EmphasizedContent .wmeditor .dijitComboBox,
    .wm_template .EmphasizedContent .dijitTimePickerItem,
    .wm_template .EmphasizedContent .wmeditor .RichTextEditable iframe {
	/* EmphasizedContent-EditorsDefault-Border */
	border-color: #666666;  /* EmphasizedContent-EditorsDefault-Border_Color */
	border-width: 1px; /* EmphasizedContent-EditorsDefault-Border_BorderSize */

	/* EmphasizedContent-EditorsDefault-Font */
	font-family: sans-serif; /* EmphasizedContent-EditorsDefault-Font_Family */
	font-size: 12pt; /* EmphasizedContent-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* EmphasizedContent-EditorsDefault-Font_Color */
	font-weight: bold; /* EmphasizedContent-EditorsDefault-Font_Weight */

	/* EmphasizedContent-EditorsDefault-Background */
	background-color: #444444; /* EmphasizedContent-EditorsDefault-Background_Color */
	background-image: url(images/threeD.png); /* EmphasizedContent-EditorsDefault-Background_Image */
	background-position: left top;  /* EmphasizedContent-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* EmphasizedContent-EditorsDefault-Background_Image-Repeat */

    }

    .wm_template .EmphasizedContent .wmeditor .dijitTextBox.dijitHover,
    .wm_template .EmphasizedContent .wmeditor .dijitTextArea:hover,
    .wm_template .EmphasizedContent .wmeditor .dijitComboBox.dijitHover,
    .wm_template .EmphasizedContent .wmeditor .RichTextEditable:hover iframe,
    .wm_template .EmphasizedContent .dijitTimePickerMarker.dijitTimePickerMarkerHover,
    .wm_template .EmphasizedContent .dijitTimePickerItem.dijitTimePickerItemHover {
	/* EmphasizedContent-EditorsHover-Font */
	color: #FFFFFF; /* EmphasizedContent-EditorsHover-Font_Color */

	border-color: #666666;  /* EmphasizedContent-EditorsHover-Border_Color */

	/* EmphasizedContent-EditorsHover-Background */
	background-color: #444444; /* EmphasizedContent-EditorsHover-Background_Color */
	background-image: url(images/threeD.png); /* EmphasizedContent-EditorsHover-Background_Image */
	background-position: left top;  /* EmphasizedContent-EditorsHover-Background_Image-Position */
	background-repeat: repeat-x; /* EmphasizedContent-EditorsHover-Background_Image-Repeat */
    }

    .wm_template .EmphasizedContent .wmeditor .dijitTextBox.dijitFocused,
    .wm_template .EmphasizedContent .wmeditor .dijitTextBox.dijitFocused.dijitHover,
    .wm_template .EmphasizedContent .wmeditor .dijitTextArea.dijitFocused,
    .wm_template .EmphasizedContent .wmeditor .dijitTextArea.dijitFocused:hover,
    .wm_template .EmphasizedContent .wmeditor .dijitComboBox.dijitFocused,
    .wm_template .EmphasizedContent .wmeditor .dijitComboBox.dijitFocused.dijitHover,
    .wm_template .EmphasizedContent .wmeditor .RichTextEditable.Focused iframe {
	/* EmphasizedContent-EditorsFocus-Font */
	color: #FFFFFF; /* EmphasizedContent-EditorsFocus-Font_Color */

	border-color: #666666;  /* EmphasizedContent-EditorsFocus-Border_Color */

	/* EmphasizedContent-EditorsFocus-Background */
	background-color: #444444; /* EmphasizedContent-EditorsFocus-Background_Color */
	background-image: url(images/threeD.png); /* EmphasizedContent-EditorsFocus-Background_Image */
	background-position: left top;  /* EmphasizedContent-EditorsFocus-Background_Image-Position */
	background-repeat: repeat-x; /* EmphasizedContent-EditorsFocus-Background_Image-Repeat */
    }
    /* END inner content panel editors */
    
}

@media screen { /* TOCContent-Level */ 
    /* BEGIN inner content panel editors */

    .wm_template .TOCContent .wmeditor .dijitTextBox,
    .wm_template .TOCContent .wmeditor .dijitTextArea,
    .wm_template .TOCContent .wmeditor .dijitComboBox,
    .wm_template .TOCContent .dijitTimePickerItem,
    .wm_template .TOCContent .wmeditor .RichTextEditable iframe {
	/* TOCContent-EditorsDefault-Border */
	border-color: #666666;  /* TOCContent-EditorsDefault-Border_Color */
	border-width: 1px; /* TOCContent-EditorsDefault-Border_BorderSize */

	/* TOCContent-EditorsDefault-Font */
	font-family: sans-serif; /* TOCContent-EditorsDefault-Font_Family */
	font-size: 12pt; /* TOCContent-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* TOCContent-EditorsDefault-Font_Color */
	font-weight: bold; /* TOCContent-EditorsDefault-Font_Weight */

	/* TOCContent-EditorsDefault-Background */
	background-color: #444444; /* TOCContent-EditorsDefault-Background_Color */
	background-image: url(images/threeD.png); /* TOCContent-EditorsDefault-Background_Image */
	background-position: left top;  /* TOCContent-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* TOCContent-EditorsDefault-Background_Image-Repeat */

    }

    .wm_template .TOCContent .wmeditor .dijitTextBox.dijitHover,
    .wm_template .TOCContent .wmeditor .dijitTextArea:hover,
    .wm_template .TOCContent .wmeditor .dijitComboBox.dijitHover,
    .wm_template .TOCContent .wmeditor .RichTextEditable:hover iframe,
    .wm_template .TOCContent .dijitTimePickerMarker.dijitTimePickerMarkerHover,
    .wm_template .TOCContent .dijitTimePickerItem.dijitTimePickerItemHover {
	/* TOCContent-EditorsHover-Font */
	color: #FFFFFF; /* TOCContent-EditorsHover-Font_Color */

	border-color: #666666;  /* TOCContent-EditorsHover-Border_Color */

	/* TOCContent-EditorsHover-Background */
	background-color: #444444; /* TOCContent-EditorsHover-Background_Color */
	background-image: url(images/threeD.png); /* TOCContent-EditorsHover-Background_Image */
	background-position: left top;  /* TOCContent-EditorsHover-Background_Image-Position */
	background-repeat: repeat-x; /* TOCContent-EditorsHover-Background_Image-Repeat */
    }

    .wm_template .TOCContent .wmeditor .dijitTextBox.dijitFocused,
    .wm_template .TOCContent .wmeditor .dijitTextBox.dijitFocused.dijitHover,
    .wm_template .TOCContent .wmeditor .dijitTextArea.dijitFocused,
    .wm_template .TOCContent .wmeditor .dijitTextArea.dijitFocused:hover,
    .wm_template .TOCContent .wmeditor .dijitComboBox.dijitFocused,
    .wm_template .TOCContent .wmeditor .dijitComboBox.dijitFocused.dijitHover,
    .wm_template .TOCContent .wmeditor .RichTextEditable.Focused iframe {
	/* TOCContent-EditorsFocus-Font */
	color: #FFFFFF; /* TOCContent-EditorsFocus-Font_Color */

	border-color: #666666;  /* TOCContent-EditorsFocus-Border_Color */

	/* TOCContent-EditorsFocus-Background */
	background-color: #444444; /* TOCContent-EditorsFocus-Background_Color */
	background-image: url(images/threeD.png); /* TOCContent-EditorsFocus-Background_Image */
	background-position: left top;  /* TOCContent-EditorsFocus-Background_Image-Position */
	background-repeat: repeat-x; /* TOCContent-EditorsFocus-Background_Image-Repeat */
    }
    /* END inner content panel editors */
    
}

@media screen { /* ToolbarContent-Level */ 
    /* BEGIN inner content panel editors */

    .wm_template .ToolbarContent .wmeditor .dijitTextBox,
    .wm_template .ToolbarContent .wmeditor .dijitTextArea,
    .wm_template .ToolbarContent .wmeditor .dijitComboBox,
    .wm_template .ToolbarContent .dijitTimePickerItem,
    .wm_template .ToolbarContent .wmeditor .RichTextEditable iframe {
	/* ToolbarContent-EditorsDefault-Border */
	border-color: #666666;  /* ToolbarContent-EditorsDefault-Border_Color */
	border-width: 1px; /* ToolbarContent-EditorsDefault-Border_BorderSize */

	/* ToolbarContent-EditorsDefault-Font */
	font-family: sans-serif; /* ToolbarContent-EditorsDefault-Font_Family */
	font-size: 12pt; /* ToolbarContent-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* ToolbarContent-EditorsDefault-Font_Color */
	font-weight: bold; /* ToolbarContent-EditorsDefault-Font_Weight */

	/* ToolbarContent-EditorsDefault-Background */
	background-color: #444444; /* ToolbarContent-EditorsDefault-Background_Color */
	background-image: url(images/threeD.png); /* ToolbarContent-EditorsDefault-Background_Image */
	background-position: left top;  /* ToolbarContent-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* ToolbarContent-EditorsDefault-Background_Image-Repeat */

    }

    .wm_template .ToolbarContent .wmeditor .dijitTextBox.dijitHover,
    .wm_template .ToolbarContent .wmeditor .dijitTextArea:hover,
    .wm_template .ToolbarContent .wmeditor .dijitComboBox.dijitHover,
    .wm_template .ToolbarContent .wmeditor .RichTextEditable:hover iframe,
    .wm_template .ToolbarContent .dijitTimePickerMarker.dijitTimePickerMarkerHover,
    .wm_template .ToolbarContent .dijitTimePickerItem.dijitTimePickerItemHover {
	/* ToolbarContent-EditorsHover-Font */
	color: #FFFFFF; /* ToolbarContent-EditorsHover-Font_Color */

	border-color: #666666;  /* ToolbarContent-EditorsHover-Border_Color */

	/* ToolbarContent-EditorsHover-Background */
	background-color: #444444; /* ToolbarContent-EditorsHover-Background_Color */
	background-image: url(images/threeD.png); /* ToolbarContent-EditorsHover-Background_Image */
	background-position: left top;  /* ToolbarContent-EditorsHover-Background_Image-Position */
	background-repeat: repeat-x; /* ToolbarContent-EditorsHover-Background_Image-Repeat */
    }

    .wm_template .ToolbarContent .wmeditor .dijitTextBox.dijitFocused,
    .wm_template .ToolbarContent .wmeditor .dijitTextBox.dijitFocused.dijitHover,
    .wm_template .ToolbarContent .wmeditor .dijitTextArea.dijitFocused,
    .wm_template .ToolbarContent .wmeditor .dijitTextArea.dijitFocused:hover,
    .wm_template .ToolbarContent .wmeditor .dijitComboBox.dijitFocused,
    .wm_template .ToolbarContent .wmeditor .dijitComboBox.dijitFocused.dijitHover,
    .wm_template .ToolbarContent .wmeditor .RichTextEditable.Focused iframe {
	/* ToolbarContent-EditorsFocus-Font */
	color: #FFFFFF; /* ToolbarContent-EditorsFocus-Font_Color */

	border-color: #666666;  /* ToolbarContent-EditorsFocus-Border_Color */

	/* ToolbarContent-EditorsFocus-Background */
	background-color: #444444; /* ToolbarContent-EditorsFocus-Background_Color */
	background-image: url(images/threeD.png); /* ToolbarContent-EditorsFocus-Background_Image */
	background-position: left top;  /* ToolbarContent-EditorsFocus-Background_Image-Position */
	background-repeat: repeat-x; /* ToolbarContent-EditorsFocus-Background_Image-Repeat */
    }
    /* END inner content panel editors */
    
}

