  /**************************************************************************************************
   * TYPE:        wm.AbstractEditor / wm._BaseEditor
   *
   * DESCRIPTION: Sets the styling of all editors, as well as a few things I've arbitrarily linked to 
   *              editor style such as the progress bar.  The first section of this document
   *              consists of common editors styles regardless of what kind of panel the editor is in.
   ************************************************************************************************/

/* Give editors the standard border color, and get rid of the outline styling which is unnecessary and looks bad in webkit */
.wm_template .wmeditor .dijitTextBox.dijitFocused,
.wm_template .wmeditor .dijitTextArea.dijitFocused,
.wm_template .wmeditor .dijitComboBox.dijitFocused {
	outline-width: 0 !important;    
}

.wm_template .wmeditor .wmeditor-caption {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

/* Make all editors equally rounded.  This is not for technical reasons.  It is my opinion that a theme should
 * allow some things to vary, and other things should provide a consistent common look.
 */
.wm_template  .wmeditor .dijitTextBox,
.wm_template  .wmeditor .dijitTextArea,
.wm_template  .wmeditor .dijitComboBox
 {
     /* Borders-Editor_BorderStyle_Radius */
     -moz-border-radius: 4px; /* Borders-Editor_BorderStyle_Radius */
     -webkit-border-radius: 4px; /* Borders-Editor_BorderStyle_Radius */
     border-radius: 4px; /* Borders-Editor_BorderStyle_Radius */
}

/* Can't round the top edges of the richtext editor until we're ready to tackle rounding dojo's toolbar */
.wm_template .wmeditor.wmrichtext {
    /* Borders-Editor_BorderStyle_Radius */
    -moz-border-radius-bottomleft: 4px;  /* Borders-Editor_BorderStyle_Radius */
    -moz-border-radius-bottomright: 4px; /* Borders-Editor_BorderStyle_Radius */
    -webkit-border-bottom-left-radius: 4px; /* Borders-Editor_BorderStyle_Radius */
    -webkit-border-bottom-right-radius: 4px; /* Borders-Editor_BorderStyle_Radius */
    border-radius-bottomleft: 4px; /* Borders-Editor_BorderStyle_Radius */
    border-radius-bottomright: 4px; /* Borders-Editor_BorderStyle_Radius */
}



.wm_template .wmeditor .dijitComboBox .dijitArrowButton {
    height: 100% !important;
    -moz-border-radius-bottomright: 2px; /* wm.SelectMenu-Inner_Radius */
    -moz-border-radius-topright: 2px;/* wm.SelectMenu-Inner_Radius */
    -webkit-border-bottom-right-radius: 2px;/* wm.SelectMenu-Inner_Radius */
    -webkit-border-top-right-radius: 2px;/* wm.SelectMenu-Inner_Radius */
    border-radius-bottomright: 2px;/* wm.SelectMenu-Inner_Radius */
    border-radius-topright: 2px;/* wm.SelectMenu-Inner_Radius */
}

.wm_template .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
        height: 100% !important;
        background-position: 50% 50%;
	background-image: url(images/comboArrowDown.png); /* wm.SelectMenu-Down-Arrow_Image */
        -moz-border-radius-bottomright: 2px;/* wm.SelectMenu-Inner_Radius */
        -moz-border-radius-topright: 2px;/* wm.SelectMenu-Inner_Radius */
        -webkit-border-bottom-right-radius: 2px;/* wm.SelectMenu-Inner_Radius */
        -webkit-border-top-right-radius: 2px;/* wm.SelectMenu-Inner_Radius */
         border-radius-bottomright: 2px;/* wm.SelectMenu-Inner_Radius */
         border-radius-topright: 2px;/* wm.SelectMenu-Inner_Radius */
}

.wm_template .dijitSpinner .dijitArrowButton .dijitArrowButtonInner {
	background-position: 30% 20%;
	background-image: url(images/comboArrowDownLight.png); /* wm.NumberSpinner-Down-Arrow_Image */    
}
.wm_template .dijitSpinner .dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner {
	background-image: url(images/comboArrowUpLight.png); /* wm.NumberSpinner-Up-Arrow_Image */    
}
  /**************************************************************************************************
   * TYPE:        Slider
   *
   * TODO:        I haven't really worked in support for slider into themes.  Color and Background
   *              should show up when editting the slider widget in the theme designer or colors/images
   *              should be automatically assigned. I don't think this gets so much use that I've 
   *              put in the effort just yet.
   ************************************************************************************************/
.wm_template .dijitSlider .dijitProgressBarLabel {
    color: white;
}

.wm_template .dijitSlider .dijitSliderImageHandleH {
    background: url(images/preciseSliderThumb.png) no-repeat 50% 0%;
    outline-width: 0;
}



  /**************************************************************************************************
   * TYPE:        wm.AbstractEditor / wm._BaseEditor (default settings)
   *
   * DESCRIPTION: All styles applied at the Document-Level are never disabled, and apply anywhere
   *              that another panel class doesn't override the behavior.
   ************************************************************************************************/
@media screen { /* Document-Level */ 

  /**************************************************************************************************
   * TYPE:        dijit.form.ComboBox/FilteringSelect/Select popup button
   *
   * DESCRIPTION: We need to set the background color and background image for the menu's popup
   *              button. 
   ************************************************************************************************/
.wm_template .wmeditor .dijitSpinner .dijitArrowButton,
.wm_template .wmeditor .dijitComboBox .dijitArrowButton {
    background-color: #666666; /* Document-ClickablesDefault-Background_Color */
    background-image: none;
}

    
    
    .wm_template .dojoxGrid .dijitTextBox,
    .wm_template .dojoxGrid .dijitComboBox,
    .wm_template .wmeditor .dijitTextBox,
    .wm_template .wmeditor .dijitTextArea,
    .wm_template .wmeditor .dijitComboBox,
    .wm_template .dijitTimePickerItem,
    .wm_template .wmeditor .RichTextEditable iframe {
	/* Document-EditorsDefault-Border */
	border-color: #666666;  /* Document-EditorsDefault-Border_Color */
	border-width: 1px; /* Document-EditorsDefault-Border_BorderSize */

	/* Document-EditorsDefault-Font */
	font-family: sans-serif; /* Document-EditorsDefault-Font_Family */
	font-size: 12pt; /* Document-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* Document-EditorsDefault-Font_Color */
	font-weight: bold; /* Document-EditorsDefault-Font_Weight */

	/* Document-EditorsDefault-Background */
	background-color: #444444; /* Document-EditorsDefault-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* Document-EditorsDefault-Background_Image */
	background-position: left top;  /* Document-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-EditorsDefault-Background_Image-Repeat */

    }

    .dj_ie6 .wm_template .wmeditor .dijitTextBox,
    .dj_ie6 .wm_template .wmeditor .dijitTextArea,
    .dj_ie6 .wm_template .wmeditor .dijitComboBox,
    .dj_ie6 .wm_template .dijitTimePickerItem,
    .dj_ie6 .wm_template .wmeditor .RichTextEditable iframe {
        background-image: none !important;
    }

    .wm_template .wmeditor .dijitTextBox.dijitHover,
    .wm_template .wmeditor .dijitTextArea:hover,
    .wm_template .wmeditor .dijitComboBox.dijitHover,
    .wm_template .wmeditor .RichTextEditable:hover iframe,
    .wm_template .dijitTimePickerMarker.dijitTimePickerMarkerHover,
    .wm_template .dijitTimePickerItem.dijitTimePickerItemHover {
	/* Document-EditorsHover-Font */
	color: #FFFFFF; /* Document-EditorsHover-Font_Color */

	border-color: #666666;  /* Document-EditorsHover-Border_Color */

	/* Document-EditorsHover-Background */
	background-color: #444444; /* Document-EditorsHover-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* Document-EditorsHover-Background_Image */
	background-position: left top;  /* Document-EditorsHover-Background_Image-Position */
	background-repeat: repeat-x; /* Document-EditorsHover-Background_Image-Repeat */
    }

    .wm_template .dojoxGrid .dijitTextBox.dijitFocused,
    .wm_template .dojoxGrid .dijitComboBox.dijitFocused,
    .wm_template .wmeditor .dijitTextBox.dijitFocused,
    .wm_template .wmeditor .dijitTextBox.dijitFocused.dijitHover,
    .wm_template .wmeditor .dijitTextArea.dijitFocused,
    .wm_template .wmeditor .dijitTextArea.dijitFocused:hover,
    .wm_template .wmeditor .dijitComboBox.dijitFocused,
    .wm_template .wmeditor .dijitComboBox.dijitFocused.dijitHover,
    .wm_template .wmeditor .RichTextEditable.Focused iframe {
	/* Document-EditorsFocus-Font */
	color: #FFFFFF; /* Document-EditorsFocus-Font_Color */

	border-color: #666666;  /* Document-EditorsFocus-Border_Color */

	/* Document-EditorsFocus-Background */
	background-color: #444444; /* Document-EditorsFocus-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* Document-EditorsFocus-Background_Image */
	background-position: left top;  /* Document-EditorsFocus-Background_Image-Position */
	background-repeat: repeat-x; /* Document-EditorsFocus-Background_Image-Repeat */
    }

    /* END SECTION wm.AbstractEditor */
    
    
    
}


@media screen { /* MainContent-Level */ 
  /**************************************************************************************************
   * TYPE:        dijit.form.ComboBox/FilteringSelect/Select popup button
   *
   * DESCRIPTION: We need to set the background color and background image for the menu's popup
   *              button. 
   ************************************************************************************************/
.wm_template .MainContent .wmeditor .dijitSpinner .dijitArrowButton,
.wm_template .MainContent .wmeditor .dijitComboBox .dijitArrowButton {
    background-color: #666666; /* MainContent-ClickablesDefault-Background_Color */
    background-image: none;
}

    .wm_template .MainContent .wmeditor .dijitTextBox,
    .wm_template .MainContent .wmeditor .dijitTextArea,
    .wm_template .MainContent .wmeditor .dijitComboBox,
    .wm_template .MainContent .dijitTimePickerItem,
    .wm_template .MainContent .wmeditor .RichTextEditable iframe {
	/* MainContent-EditorsDefault-Border */
	border-color: #666666;  /* MainContent-EditorsDefault-Border_Color */
	border-width: 1px; /* MainContent-EditorsDefault-Border_BorderSize */

	/* MainContent-EditorsDefault-Font */
	font-family: sans-serif; /* MainContent-EditorsDefault-Font_Family */
	font-size: 12pt; /* MainContent-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* MainContent-EditorsDefault-Font_Color */
	font-weight: bold; /* MainContent-EditorsDefault-Font_Weight */

	/* MainContent-EditorsDefault-Background */
	background-color: #444444; /* MainContent-EditorsDefault-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* MainContent-EditorsDefault-Background_Image */
	background-position: left top;  /* MainContent-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-EditorsDefault-Background_Image-Repeat */

    }
    .wm_template .wmeditor.wmrichtext {
	/* MainContent-EditorsDefault-BorderStyle_Radius */
	-moz-border-radius-bottomleft: 4px;  /* MainContent-EditorsDefault-BorderStyle_Radius */
	-moz-border-radius-bottomright: 4px; /* MainContent-EditorsDefault-BorderStyle_Radius */
	-webkit-border-bottom-left-radius: 4px; /* MainContent-EditorsDefault-BorderStyle_Radius */
	-webkit-border-bottom-right-radius: 4px; /* MainContent-EditorsDefault-BorderStyle_Radius */
	border-radius-bottomleft: 4px; /* MainContent-EditorsDefault-BorderStyle_Radius */
	border-radius-bottomright: 4px; /* MainContent-EditorsDefault-BorderStyle_Radius */
    }

    .wm_template .MainContent .wmeditor .dijitTextBox.dijitHover,
    .wm_template .MainContent .wmeditor .dijitTextArea:hover,
    .wm_template .MainContent .wmeditor .dijitComboBox.dijitHover,
    .wm_template .MainContent .wmeditor .RichTextEditable:hover iframe,
    .wm_template .MainContent .dijitTimePickerMarker.dijitTimePickerMarkerHover,
    .wm_template .MainContent .dijitTimePickerItem.dijitTimePickerItemHover {
	/* MainContent-EditorsHover-Font */
	color: #FFFFFF; /* MainContent-EditorsHover-Font_Color */

	border-color: #666666;  /* MainContent-EditorsHover-Border_Color */

	/* MainContent-EditorsHover-Background */
	background-color: #444444; /* MainContent-EditorsHover-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* MainContent-EditorsHover-Background_Image */
	background-position: left top;  /* MainContent-EditorsHover-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-EditorsHover-Background_Image-Repeat */
    }

    .wm_template .MainContent .wmeditor .dijitTextBox.dijitFocused,
    .wm_template .MainContent .wmeditor .dijitTextBox.dijitFocused.dijitHover,
    .wm_template .MainContent .wmeditor .dijitTextArea.dijitFocused,
    .wm_template .MainContent .wmeditor .dijitTextArea.dijitFocused:hover,
    .wm_template .MainContent .wmeditor .dijitComboBox.dijitFocused,
    .wm_template .MainContent .wmeditor .dijitComboBox.dijitFocused.dijitHover,
    .wm_template .MainContent .wmeditor .RichTextEditable.Focused iframe {
	/* MainContent-EditorsFocus-Font */
	color: #FFFFFF; /* MainContent-EditorsFocus-Font_Color */

	border-color: #666666;  /* MainContent-EditorsFocus-Border_Color */

	/* MainContent-EditorsFocus-Background */
	background-color: #444444; /* MainContent-EditorsFocus-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* MainContent-EditorsFocus-Background_Image */
	background-position: left top;  /* MainContent-EditorsFocus-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-EditorsFocus-Background_Image-Repeat */
    }

    
    
}


@media screen { /* EmphasizedContent-Level */ 
  /**************************************************************************************************
   * TYPE:        dijit.form.ComboBox/FilteringSelect/Select popup button
   *
   * DESCRIPTION: We need to set the background color and background image for the menu's popup
   *              button. 
   ************************************************************************************************/
.wm_template .EmphasizedContent .wmeditor .dijitSpinner .dijitArrowButton,
.wm_template .EmphasizedContent .wmeditor .dijitComboBox .dijitArrowButton {
    background-color: #666666; /* EmphasizedContent-ClickablesDefault-Background_Color */
    background-image: none;
}

    /* BEGIN inner content panel editors */

    .wm_template .EmphasizedContent .wmeditor .dijitTextBox,
    .wm_template .EmphasizedContent .wmeditor .dijitTextArea,
    .wm_template .EmphasizedContent .wmeditor .dijitComboBox,
    .wm_template .EmphasizedContent .dijitTimePickerItem,
    .wm_template .EmphasizedContent .wmeditor .RichTextEditable iframe {
	/* EmphasizedContent-EditorsDefault-Border */
	border-color: #666666;  /* EmphasizedContent-EditorsDefault-Border_Color */
	border-width: 1px; /* EmphasizedContent-EditorsDefault-Border_BorderSize */

	/* EmphasizedContent-EditorsDefault-Font */
	font-family: sans-serif; /* EmphasizedContent-EditorsDefault-Font_Family */
	font-size: 12pt; /* EmphasizedContent-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* EmphasizedContent-EditorsDefault-Font_Color */
	font-weight: bold; /* EmphasizedContent-EditorsDefault-Font_Weight */

	/* EmphasizedContent-EditorsDefault-Background */
	background-color: #444444; /* EmphasizedContent-EditorsDefault-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* EmphasizedContent-EditorsDefault-Background_Image */
	background-position: left top;  /* EmphasizedContent-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* EmphasizedContent-EditorsDefault-Background_Image-Repeat */

    }

    .wm_template .EmphasizedContent .wmeditor .dijitTextBox.dijitHover,
    .wm_template .EmphasizedContent .wmeditor .dijitTextArea:hover,
    .wm_template .EmphasizedContent .wmeditor .dijitComboBox.dijitHover,
    .wm_template .EmphasizedContent .wmeditor .RichTextEditable:hover iframe,
    .wm_template .EmphasizedContent .dijitTimePickerMarker.dijitTimePickerMarkerHover,
    .wm_template .EmphasizedContent .dijitTimePickerItem.dijitTimePickerItemHover {
	/* EmphasizedContent-EditorsHover-Font */
	color: #FFFFFF; /* EmphasizedContent-EditorsHover-Font_Color */

	border-color: #666666;  /* EmphasizedContent-EditorsHover-Border_Color */

	/* EmphasizedContent-EditorsHover-Background */
	background-color: #444444; /* EmphasizedContent-EditorsHover-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* EmphasizedContent-EditorsHover-Background_Image */
	background-position: left top;  /* EmphasizedContent-EditorsHover-Background_Image-Position */
	background-repeat: repeat-x; /* EmphasizedContent-EditorsHover-Background_Image-Repeat */
    }

    .wm_template .EmphasizedContent .wmeditor .dijitTextBox.dijitFocused,
    .wm_template .EmphasizedContent .wmeditor .dijitTextBox.dijitFocused.dijitHover,
    .wm_template .EmphasizedContent .wmeditor .dijitTextArea.dijitFocused,
    .wm_template .EmphasizedContent .wmeditor .dijitTextArea.dijitFocused:hover,
    .wm_template .EmphasizedContent .wmeditor .dijitComboBox.dijitFocused,
    .wm_template .EmphasizedContent .wmeditor .dijitComboBox.dijitFocused.dijitHover,
    .wm_template .EmphasizedContent .wmeditor .RichTextEditable.Focused iframe {
	/* EmphasizedContent-EditorsFocus-Font */
	color: #FFFFFF; /* EmphasizedContent-EditorsFocus-Font_Color */

	border-color: #666666;  /* EmphasizedContent-EditorsFocus-Border_Color */

	/* EmphasizedContent-EditorsFocus-Background */
	background-color: #444444; /* EmphasizedContent-EditorsFocus-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* EmphasizedContent-EditorsFocus-Background_Image */
	background-position: left top;  /* EmphasizedContent-EditorsFocus-Background_Image-Position */
	background-repeat: repeat-x; /* EmphasizedContent-EditorsFocus-Background_Image-Repeat */
    }
    /* END inner content panel editors */
    
}

@media screen { /* HeaderContent-Level */ 
  /**************************************************************************************************
   * TYPE:        dijit.form.ComboBox/FilteringSelect/Select popup button
   *
   * DESCRIPTION: We need to set the background color and background image for the menu's popup
   *              button. 
   ************************************************************************************************/
.wm_template .HeaderContent .wmeditor .dijitSpinner .dijitArrowButton,
.wm_template .HeaderContent .wmeditor .dijitComboBox .dijitArrowButton {
    background-color: #666666; /* HeaderContent-ClickablesDefault-Background_Color */
    background-image: none;
    height: 100% !important;
}

    /* BEGIN inner content panel editors */

    .wm_template .HeaderContent .wmeditor .dijitTextBox,
    .wm_template .HeaderContent .wmeditor .dijitTextArea,
    .wm_template .HeaderContent .wmeditor .dijitComboBox,
    .wm_template .HeaderContent .dijitTimePickerItem,
    .wm_template .HeaderContent .wmeditor .RichTextEditable iframe {
	/* HeaderContent-EditorsDefault-Border */
	border-color: #666666;  /* HeaderContent-EditorsDefault-Border_Color */
	border-width: 1px; /* HeaderContent-EditorsDefault-Border_BorderSize */

	/* HeaderContent-EditorsDefault-Font */
	font-family: sans-serif; /* HeaderContent-EditorsDefault-Font_Family */
	font-size: 12pt; /* HeaderContent-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* HeaderContent-EditorsDefault-Font_Color */
	font-weight: bold; /* HeaderContent-EditorsDefault-Font_Weight */

	/* HeaderContent-EditorsDefault-Background */
	background-color: #444444; /* HeaderContent-EditorsDefault-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* HeaderContent-EditorsDefault-Background_Image */
	background-position: left top;  /* HeaderContent-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* HeaderContent-EditorsDefault-Background_Image-Repeat */

    }

    .wm_template .HeaderContent .wmeditor .dijitTextBox.dijitHover,
    .wm_template .HeaderContent .wmeditor .dijitTextArea:hover,
    .wm_template .HeaderContent .wmeditor .dijitComboBox.dijitHover,
    .wm_template .HeaderContent .wmeditor .RichTextEditable:hover iframe,
    .wm_template .HeaderContent .dijitTimePickerMarker.dijitTimePickerMarkerHover,
    .wm_template .HeaderContent .dijitTimePickerItem.dijitTimePickerItemHover {
	/* HeaderContent-EditorsHover-Font */
	color: #FFFFFF; /* HeaderContent-EditorsHover-Font_Color */

	border-color: #666666;  /* HeaderContent-EditorsHover-Border_Color */

	/* HeaderContent-EditorsHover-Background */
	background-color: #444444; /* HeaderContent-EditorsHover-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* HeaderContent-EditorsHover-Background_Image */
	background-position: left top;  /* HeaderContent-EditorsHover-Background_Image-Position */
	background-repeat: repeat-x; /* HeaderContent-EditorsHover-Background_Image-Repeat */
    }

    .wm_template .HeaderContent .wmeditor .dijitTextBox.dijitFocused,
    .wm_template .HeaderContent .wmeditor .dijitTextBox.dijitFocused.dijitHover,
    .wm_template .HeaderContent .wmeditor .dijitTextArea.dijitFocused,
    .wm_template .HeaderContent .wmeditor .dijitTextArea.dijitFocused:hover,
    .wm_template .HeaderContent .wmeditor .dijitComboBox.dijitFocused,
    .wm_template .HeaderContent .wmeditor .dijitComboBox.dijitFocused.dijitHover,
    .wm_template .HeaderContent .wmeditor .RichTextEditable.Focused iframe {
	/* HeaderContent-EditorsFocus-Font */
	color: #FFFFFF; /* HeaderContent-EditorsFocus-Font_Color */

	border-color: #666666;  /* HeaderContent-EditorsFocus-Border_Color */

	/* HeaderContent-EditorsFocus-Background */
	background-color: #444444; /* HeaderContent-EditorsFocus-Background_Color */
	background-image: url(images/repeatx/brightEdge1.png); /* HeaderContent-EditorsFocus-Background_Image */
	background-position: left top;  /* HeaderContent-EditorsFocus-Background_Image-Position */
	background-repeat: repeat-x; /* HeaderContent-EditorsFocus-Background_Image-Repeat */
    }
    /* END inner content panel editors */
    
}

