
  /**************************************************************************************************
   * TYPE:        Grid rows (Even rows and odd rows)
   *
   * DESCRIPTION: The goal is to create alternating colors between even and odd rows.
   *              Even rows are set by specifying the style for all rows; odd row styles override
   *              the style for all rows.  Only vary the font and background-color.
   ************************************************************************************************/
.wm_template div.dojoxGrid-row,
.wm_template div.dojoxGridRow,
.wm_template div.wmlist-item {

    /* Tables-EvenRows-Font */
    font-family: sans-serif; /* Tables-EvenRows-Font_Family */
    font-size: 12pt; /* Tables-EvenRows-Font_TextSize */
    color: #FFFFFF; /* Tables-EvenRows-Font_Color */
    font-weight: bold; /* Tables-EvenRows-Font_Weight */

    /* Tables-EvenRows-Background */
    background-color: #444444; /* Tables-EvenRows-Background_Color */
}

/* Grid/List Odd rows: uses Tables-OddRows */
.wm_template div.dojoxGrid-row.dojoxGrid-row-odd,
.wm_template div.dojoxGridRow.dojoxGridRowOdd,
.wm_template .wmlist-item.Odd {
    /* Tables-OddRows-Font */
    color: #FFFFFF; /* Tables-OddRows-Font_Color */

    /* Tables-OddRows-Background */
    background-color: #444444; /* Tables-OddRows-Background_Color */
}

  /**************************************************************************************************
   * TYPE:        Grid cell borders
   *
   * DESCRIPTION: Set the border styles for cells (or in the case of wm.List of a cell-equivalent).
   *              Basically, we leave top/bottom border to the alternating even/odd row background color,
   *              and we don't need a right and left border (would double the border size between two cells)
   *              so just use the border-right-width: 1px, and let the user control the color of that border.
   * 
   * TODO:        These settings are not well tested.
   ************************************************************************************************/
.wm_template td.dojoxGrid-cell,
.wm_template td.dojoxGridCell {
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 1px !important; /* Tables-EvenRows-Border_BorderSize */
    border-style: solid;   
    border-color: #AAAAAA; /* Tables-EvenRows-Border_Color */
}

.wm_template .wmlist-item {
    border-style: solid;   
    border-color: #AAAAAA; /* Tables-EvenRows-Border_Color */
    border-left-width: 0px;
    border-right-width: 1px; /* Tables-EvenRows-Border_BorderSize */
    border-top-width: 0px;
    border-bottom-width: 0px;
}


  /**************************************************************************************************
   * TYPE:        Header, Hover and Selected row styles
   *
   * DESCRIPTION: The style varies by what kind of panel its in.  If I want a single wm.List in my 
   *              TOC, its going to look/feel different in its hover/selection/header than
   *              a DojoGrid in my EmphasizedContent.
   ************************************************************************************************/
@media screen { /* Document-Level */ 

    /* Selected color for rows: uses Clickables-Active */
    .wm_template div.dojoxGrid-row.dojoxGrid-row-selected, 
    .wm_template div.dojoxGrid-row.dojoxGrid-row-selected.dojoxGrid-row-over, 
    .wm_template div.dojoxGrid-row.dojoxGrid-row-odd.dojoxGrid-row-selected,
    .wm_template div.dojoxGridRow.dojoxGridRowSelected, 
    .wm_template div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
    .wm_template .wmlist-item.wmlist-item-selected,
    .wm_template .wmlist-item.wmlist-item-selected.wmlist-item-over {
	/* Document-ClickablesActive-Background */
	background-color: #333333 !important; /* Document-ClickablesActive-Background_Color */

	/* Document-ClickablesActive-Font */
	color: #FFFFFF; /* Document-ClickablesActive-Font_Color */
    }

    /* Custom mouse-over color for rows */
    .wm_template .wmlist-item.wmlist-item-over,
    .wm_template div.dojoxGrid-row.dojoxGrid-row-over, 
    .wm_template .dojoxGrid-row.dojoxGrid-row-odd.dojoxGrid-row-over,
    .wm_template .dojoxGridRow.dojoxGridRowOver, 
    .wm_template .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver
    {
	/* Document-ClickablesHover-Background */
	background-color: #333333 !important; /* Document-ClickablesHover-Background_Color */

	/* Document-ClickablesHover-Font */
	color: #FFFFFF; /* Document-ClickablesHover-Font_Color */

    }

    .wm_template div.dojoxGridContent .dojoxGridCell {
	background: transparent;
    }

    .wm_template div.dojoxGridContent .dojoxGridCellFocus,
    .wm_template div.dojoxGridContent .dojoxGrid-cell-focus {
	border-width: 1px dashed transparent !important;
    }

    /* Table/List Header-Cells (.dojoxGridCell is wm.DojoGrid; .dojoxGrid-cell is wm.DataGrid) */
    .wm_template div.dojoxGrid-header .dojoxGrid-cell,
    .wm_template div.dojoxGridHeader .dojoxGridCell
    {
	background: inherit; /* see Header.dojoxGrid-header below */

	border-right-width: 1px; /* Tables-EvenRows-Border_BorderSize */
	border-right-style: solid;
	border-right-color: #AAAAAA; /* Tables-EvenRows-Border_Color */

	/* Document-ClickablesDefault-Font */
	font-family: sans-serif; /* Document-ClickablesDefault-Font_Family */
	/* Adjust size when we figure out a good way to adjust the height of the header */
	font-size: 12pt; /* Tables-HeaderRow-Font_TextSize */
	color: inherit !important; /* Needed for wm.DojoGrid */
	font-weight: bold; /* Document-ClickablesDefault-Font_Weight */
    }

    .wm_template div.dojoxGridHeader .dojoxGridCell {
	background-color: #333333; /* Document-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* Document-ClickablesDefault-Background_Image */
	background-position: left top;  /* Document-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-ClickablesDefault-Background_Image-Repeat */

	/* Document-ClickablesDefault-Font */
	font-family: sans-serif; /* Document-ClickablesDefault-Font_Family */
	/*font-size: 12pt;  Clickables-Default-Font_TextSize */
	color: #FFFFFF; /* Document-ClickablesDefault-Font_Color */
	font-weight: bold; /* Document-ClickablesDefault-Font_Weight */
    }

    /* Header-Row-Background */
    .wm_template .dojoxGrid-header, 
    .wm_template .dojoxGridHeader,
    .wm_template .wmlist-header {
	color: #FFFFFF;	/* Document-ClickablesDefault-Font_Color */
	background-color: #444444; /* Document-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* Document-ClickablesDefault-Background-Image */
	background-position: left top;     /* Document-ClickablesDefault-Image-Position */
	background-repeat: repeat-x;    /* Document-ClickablesDefault-Image-Repeat */

    }

}

@media screen { /* MainContent-Level */ 
    /* Selected color for rows: uses Clickables-Active */
    .wm_template .MainContent div.dojoxGrid-row.dojoxGrid-row-selected, 
    .wm_template .MainContent div.dojoxGrid-row.dojoxGrid-row-selected.dojoxGrid-row-over, 
    .wm_template .MainContent div.dojoxGrid-row.dojoxGrid-row-odd.dojoxGrid-row-selected,
    .wm_template .MainContent div.dojoxGridRow.dojoxGridRowSelected, 
    .wm_template .MainContent div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
    .wm_template .MainContent .wmlist-item.wmlist-item-selected,
    .wm_template .MainContent .wmlist-item.wmlist-item-selected.wmlist-item-over {
	/* MainContent-ClickablesActive-Background */
	background-color: #333333 !important; /* MainContent-ClickablesActive-Background_Color */

	/* MainContent-ClickablesActive-Font */
	color: #FFFFFF; /* MainContent-ClickablesActive-Font_Color */
    }

    /* Custom mouse-over color for rows */
    .wm_template .MainContent .wmlist-item.wmlist-item-over,
    .wm_template .MainContent div.dojoxGrid-row.dojoxGrid-row-over, 
    .wm_template .MainContent .dojoxGrid-row.dojoxGrid-row-odd.dojoxGrid-row-over,
    .wm_template .MainContent .dojoxGridRow.dojoxGridRowOver, 
    .wm_template .MainContent .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver
    {
	/* MainContent-ClickablesHover-Background */
	background-color: #333333 !important; /* MainContent-ClickablesHover-Background_Color */

	/* MainContent-ClickablesHover-Font */
	color: #FFFFFF; /* MainContent-ClickablesHover-Font_Color */

    }

    .wm_template .MainContent div.dojoxGridContent .dojoxGridCell {
	background: transparent;
    }

    .wm_template .MainContent div.dojoxGridContent .dojoxGridCellFocus,
    .wm_template .MainContent div.dojoxGridContent .dojoxGrid-cell-focus {
	border-width: 1px dashed transparent !important;
    }

    /* Table/List Header-Cells (.dojoxGridCell is wm.DojoGrid; .dojoxGrid-cell is wm.DataGrid) */
    .wm_template .MainContent div.dojoxGrid-header .dojoxGrid-cell,
    .wm_template .MainContent div.dojoxGridHeader .dojoxGridCell
    {
	background: inherit; /* see Header.dojoxGrid-header below */

	/* MainContent-ClickablesDefault-Font */
	font-family: sans-serif; /* MainContent-ClickablesDefault-Font_Family */
	/*    font-size: 12pt;  Clickables-Default-Font_TextSize */
	color: inherit !important; /* Needed for wm.DojoGrid */
	font-weight: bold; /* MainContent-ClickablesDefault-Font_Weight */
    }

    .wm_template .MainContent div.dojoxGridHeader .dojoxGridCell {
	background-color: #333333; /* MainContent-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-ClickablesDefault-Background_Image */
	background-position: left top;  /* MainContent-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-ClickablesDefault-Background_Image-Repeat */

	/* MainContent-ClickablesDefault-Font */
	font-family: sans-serif; /* MainContent-ClickablesDefault-Font_Family */
	/*font-size: 12pt;  Clickables-Default-Font_TextSize */
	color: #FFFFFF; /* MainContent-ClickablesDefault-Font_Color */
	font-weight: bold; /* MainContent-ClickablesDefault-Font_Weight */
    }

    /* Header-Row-Background */
    .wm_template .MainContent .dojoxGrid-header, 
    .wm_template .MainContent .dojoxGridHeader,
    .wm_template .MainContent .wmlist-header {
	color: #FFFFFF;	/* MainContent-ClickablesDefault-Font_Color */
	background-color: #444444; /* MainContent-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-ClickablesDefault-Background-Image */
	background-position: left top;     /* MainContent-ClickablesDefault-Image-Position */
	background-repeat: repeat-x;    /* MainContent-ClickablesDefault-Image-Repeat */

    }

}



@media screen { /* EmphasizedContent-Level */ 
    /* Selected color for rows: uses Clickables-Active */
    .wm_template .EmphasizedContent div.dojoxGrid-row.dojoxGrid-row-selected, 
    .wm_template .EmphasizedContent div.dojoxGrid-row.dojoxGrid-row-selected.dojoxGrid-row-over, 
    .wm_template .EmphasizedContent div.dojoxGrid-row.dojoxGrid-row-odd.dojoxGrid-row-selected,
    .wm_template .EmphasizedContent div.dojoxGridRow.dojoxGridRowSelected, 
    .wm_template .EmphasizedContent div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
    .wm_template .EmphasizedContent .wmlist-item.wmlist-item-selected,
    .wm_template .EmphasizedContent .wmlist-item.wmlist-item-selected.wmlist-item-over {
	/* EmphasizedContent-ClickablesActive-Background */
	background-color: #333333 !important; /* EmphasizedContent-ClickablesActive-Background_Color */

	/* EmphasizedContent-ClickablesActive-Font */
	color: #FFFFFF; /* EmphasizedContent-ClickablesActive-Font_Color */
    }

    /* Custom mouse-over color for rows */
    .wm_template .EmphasizedContent .wmlist-item.wmlist-item-over,
    .wm_template .EmphasizedContent div.dojoxGrid-row.dojoxGrid-row-over, 
    .wm_template .EmphasizedContent .dojoxGrid-row.dojoxGrid-row-odd.dojoxGrid-row-over,
    .wm_template .EmphasizedContent .dojoxGridRow.dojoxGridRowOver, 
    .wm_template .EmphasizedContent .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver
    {
	/* EmphasizedContent-ClickablesHover-Background */
	background-color: #333333 !important; /* EmphasizedContent-ClickablesHover-Background_Color */

	/* EmphasizedContent-ClickablesHover-Font */
	color: #FFFFFF; /* EmphasizedContent-ClickablesHover-Font_Color */

    }

    .wm_template .EmphasizedContent div.dojoxGridContent .dojoxGridCell {
	background: transparent;
    }

    .wm_template .EmphasizedContent div.dojoxGridContent .dojoxGridCellFocus,
    .wm_template .EmphasizedContent div.dojoxGridContent .dojoxGrid-cell-focus {
	border-width: 1px dashed transparent !important;
    }

    /* Table/List Header-Cells (.dojoxGridCell is wm.DojoGrid; .dojoxGrid-cell is wm.DataGrid) */
    .wm_template .EmphasizedContent div.dojoxGrid-header .dojoxGrid-cell,
    .wm_template .EmphasizedContent div.dojoxGridHeader .dojoxGridCell
    {
	background: inherit; /* see Header.dojoxGrid-header below */

	/* EmphasizedContent-ClickablesDefault-Font */
	font-family: sans-serif; /* EmphasizedContent-ClickablesDefault-Font_Family */
	/*    font-size: 12pt;  Clickables-Default-Font_TextSize */
	color: inherit !important; /* Needed for wm.DojoGrid */
	font-weight: bold; /* EmphasizedContent-ClickablesDefault-Font_Weight */
    }

    .wm_template .EmphasizedContent div.dojoxGridHeader .dojoxGridCell {
	background-color: #333333; /* EmphasizedContent-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* EmphasizedContent-ClickablesDefault-Background_Image */
	background-position: left top;  /* EmphasizedContent-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* EmphasizedContent-ClickablesDefault-Background_Image-Repeat */

	/* EmphasizedContent-ClickablesDefault-Font */
	font-family: sans-serif; /* EmphasizedContent-ClickablesDefault-Font_Family */
	/*font-size: 12pt;  Clickables-Default-Font_TextSize */
	color: #FFFFFF; /* EmphasizedContent-ClickablesDefault-Font_Color */
	font-weight: bold; /* EmphasizedContent-ClickablesDefault-Font_Weight */
    }

    /* Header-Row-Background */
    .wm_template .EmphasizedContent .dojoxGrid-header, 
    .wm_template .EmphasizedContent .dojoxGridHeader,
    .wm_template .EmphasizedContent .wmlist-header {
	color: #FFFFFF;	/* EmphasizedContent-ClickablesDefault-Font_Color */
	background-color: #444444; /* EmphasizedContent-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* EmphasizedContent-ClickablesDefault-Background-Image */
	background-position: left top;     /* EmphasizedContent-ClickablesDefault-Image-Position */
	background-repeat: repeat-x;    /* EmphasizedContent-ClickablesDefault-Image-Repeat */

    }

}



@media screen { /* HeaderContent-Level */ 
    /* Selected color for rows: uses Clickables-Active */
    .wm_template .HeaderContent div.dojoxGrid-row.dojoxGrid-row-selected, 
    .wm_template .HeaderContent div.dojoxGrid-row.dojoxGrid-row-selected.dojoxGrid-row-over, 
    .wm_template .HeaderContent div.dojoxGrid-row.dojoxGrid-row-odd.dojoxGrid-row-selected,
    .wm_template .HeaderContent div.dojoxGridRow.dojoxGridRowSelected, 
    .wm_template .HeaderContent div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
    .wm_template .HeaderContent .wmlist-item.wmlist-item-selected,
    .wm_template .HeaderContent .wmlist-item.wmlist-item-selected.wmlist-item-over {
	/* HeaderContent-ClickablesActive-Background */
	background-color: #333333 !important; /* HeaderContent-ClickablesActive-Background_Color */

	/* HeaderContent-ClickablesActive-Font */
	color: #FFFFFF; /* HeaderContent-ClickablesActive-Font_Color */
    }

    /* Custom mouse-over color for rows */
    .wm_template .HeaderContent .wmlist-item.wmlist-item-over,
    .wm_template .HeaderContent div.dojoxGrid-row.dojoxGrid-row-over, 
    .wm_template .HeaderContent .dojoxGrid-row.dojoxGrid-row-odd.dojoxGrid-row-over,
    .wm_template .HeaderContent .dojoxGridRow.dojoxGridRowOver, 
    .wm_template .HeaderContent .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver
    {
	/* HeaderContent-ClickablesHover-Background */
	background-color: #333333 !important; /* HeaderContent-ClickablesHover-Background_Color */

	/* HeaderContent-ClickablesHover-Font */
	color: #FFFFFF; /* HeaderContent-ClickablesHover-Font_Color */

    }

    .wm_template .HeaderContent div.dojoxGridContent .dojoxGridCell {
	background: transparent;
    }

    .wm_template .HeaderContent div.dojoxGridContent .dojoxGridCellFocus,
    .wm_template .HeaderContent div.dojoxGridContent .dojoxGrid-cell-focus {
	border-width: 1px dashed transparent !important;
    }

    /* Table/List Header-Cells (.dojoxGridCell is wm.DojoGrid; .dojoxGrid-cell is wm.DataGrid) */
    .wm_template .HeaderContent div.dojoxGrid-header .dojoxGrid-cell,
    .wm_template .HeaderContent div.dojoxGridHeader .dojoxGridCell
    {
	background: inherit; /* see Header.dojoxGrid-header below */

	/* HeaderContent-ClickablesDefault-Font */
	font-family: sans-serif; /* HeaderContent-ClickablesDefault-Font_Family */
	/*    font-size: 12pt;  Clickables-Default-Font_TextSize */
	color: inherit !important; /* Needed for wm.DojoGrid */
	font-weight: bold; /* HeaderContent-ClickablesDefault-Font_Weight */
    }

    .wm_template .HeaderContent div.dojoxGridHeader .dojoxGridCell {
	background-color: #333333; /* HeaderContent-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* HeaderContent-ClickablesDefault-Background_Image */
	background-position: left top;  /* HeaderContent-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* HeaderContent-ClickablesDefault-Background_Image-Repeat */

	/* HeaderContent-ClickablesDefault-Font */
	font-family: sans-serif; /* HeaderContent-ClickablesDefault-Font_Family */
	/*font-size: 12pt;  Clickables-Default-Font_TextSize */
	color: #FFFFFF; /* HeaderContent-ClickablesDefault-Font_Color */
	font-weight: bold; /* HeaderContent-ClickablesDefault-Font_Weight */
    }

    /* Header-Row-Background */
    .wm_template .HeaderContent .dojoxGrid-header, 
    .wm_template .HeaderContent .dojoxGridHeader,
    .wm_template .HeaderContent .wmlist-header {
	color: #FFFFFF;	/* HeaderContent-ClickablesDefault-Font_Color */
	background-color: #444444; /* HeaderContent-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* HeaderContent-ClickablesDefault-Background-Image */
	background-position: left top;     /* HeaderContent-ClickablesDefault-Image-Position */
	background-repeat: repeat-x;    /* HeaderContent-ClickablesDefault-Image-Repeat */

    }

}



