  /**************************************************************************************************
   * TYPE:        wm.DojoMenu
   *
   * DESCRIPTION: Sets styles for menu.  Some styles (font-size) are going to be shared across all 
   *              panel types
   *
   ************************************************************************************************/

#studio_designer.wm_template .dojoMenu, 
#studio_themesPage_themeDesigner_demoPanelTabLayers_client .dojoMenu {
    background-image: none !important;
}

@media screen { /* Document-Level */ 
    .wm_template .dojoMenu .dijitMenu,
    .wm_template .dojoMenu .dijitMenuBar,
    .wm_template .dojoMenu .dijitMenuBar {
	/* Document-HeadersDefault-Font */
	font-family: sans-serif; /* Document-HeadersDefault-Font_Family */
	font-size: 12pt; /* Document-HeadersDefault-Font_TextSize */
	color: #FFFFFF; /* Document-HeadersDefault-Font_Color */
	font-weight: bold; /* Document-HeadersDefault-Font_Weight */

	/* Document-HeadersDefault-Background */
	background-color: #444444; /* Document-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* Document-HeadersDefault-Background_Image */
	background-position: left top;  /* Document-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-HeadersDefault-Background_Image-Repeat */

	border-width: 0px;
	font-weight: bold;        
    }

    /* Spacing between menu items */
    .wm_template .dijitMenuBar .dijitMenuItem,
    .tundra .wm-darksnazzy .wm_template .dijitMenuBar .dijitMenuItem {
	margin-right: 10px; /* wm.DojoMenu-Right_Margin */
    }

    body.wm_template .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
    body .wm_template .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
    body.wm_template .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body.wm_template .dijitMenuActive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .dijitMenuActive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected {
	/* Document-HeadersHover-Font */
	color: #FFFFFF; /* Document-HeadersHover-Font_Color */

	/* Document-HeadersHover-Background */
	background-color: #444444; /* Document-HeadersHover-Background_Color */
	background-image: url(images/threeD.png); /* Document-HeadersDefault-Background_Image */
	background-position: left top;  /* Document-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-HeadersDefault-Background_Image-Repeat */


	outline-width: 0;
    }
}

@media screen { /* MainContent-Level */ 
    .wm_template .MainContent .dojoMenu .dijitMenu,
    .wm_template .MainContent .dojoMenu .dijitMenuBar,
    .wm_template .MainContent .dojoMenu .dijitMenuBar {
	/* MainContent-HeadersDefault-Font */
	font-family: sans-serif; /* MainContent-HeadersDefault-Font_Family */
	font-size: 12pt; /* MainContent-HeadersDefault-Font_TextSize */
	color: #FFFFFF; /* MainContent-HeadersDefault-Font_Color */
	font-weight: bold; /* MainContent-HeadersDefault-Font_Weight */

	/* MainContent-HeadersDefault-Background */
	background-color: #444444; /* MainContent-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-HeadersDefault-Background_Image */
	background-position: left top;  /* MainContent-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-HeadersDefault-Background_Image-Repeat */

	border-width: 0px;
	font-weight: bold;        
    }

    /* Spacing between menu items */
    .wm_template .MainContent .dijitMenuBar .dijitMenuItem,
    .tundra .wm-darksnazzy .wm_template .dijitMenuBar .dijitMenuItem {
	margin-right: 10px; /* wm.DojoMenu-Right_Margin */
    }

    body.wm_template .MainContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
    body .wm_template .MainContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
    body.wm_template .MainContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .MainContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body.wm_template .MainContent .dijitMenuActive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .MainContent .dijitMenuActive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected {
	/* MainContent-HeadersHover-Font */
	color: #FFFFFF; /* MainContent-HeadersHover-Font_Color */

	/* MainContent-HeadersHover-Background */
	background-color: #444444; /* MainContent-HeadersHover-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-HeadersDefault-Background_Image */
	background-position: left top;  /* MainContent-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-HeadersDefault-Background_Image-Repeat */


	outline-width: 0;
    }

}


@media screen { /* HeaderContent-Level */ 
    .wm_template .HeaderContent .dojoMenu .dijitMenu,
    .wm_template .HeaderContent .dojoMenu .dijitMenuBar,
    .wm_template .HeaderContent .dojoMenu .dijitMenuBar {
	/* HeaderContent-HeadersDefault-Font */
	font-family: sans-serif; /* HeaderContent-HeadersDefault-Font_Family */
	font-size: 12pt; /* HeaderContent-HeadersDefault-Font_TextSize */
	color: #FFFFFF; /* HeaderContent-HeadersDefault-Font_Color */
	font-weight: bold; /* HeaderContent-HeadersDefault-Font_Weight */

	/* HeaderContent-HeadersDefault-Background */
	background-color: #444444; /* HeaderContent-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* HeaderContent-HeadersDefault-Background_Image */
	background-position: left top;  /* HeaderContent-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* HeaderContent-HeadersDefault-Background_Image-Repeat */

	border-width: 0px;
	font-weight: bold;        
    }

    /* Spacing between menu items */
    .wm_template .HeaderContent .dijitMenuBar .dijitMenuItem,
    .tundra .wm-darksnazzy .wm_template .dijitMenuBar .dijitMenuItem {
	margin-right: 10px; /* wm.DojoMenu-Right_Margin */
    }

    body.wm_template .HeaderContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
    body .wm_template .HeaderContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
    body.wm_template .HeaderContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .HeaderContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body.wm_template .HeaderContent .dijitMenuActive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .HeaderContent .dijitMenuActive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected {
	/* HeaderContent-HeadersHover-Font */
	color: #FFFFFF; /* HeaderContent-HeadersHover-Font_Color */

	/* HeaderContent-HeadersHover-Background */
	background-color: #444444; /* HeaderContent-HeadersHover-Background_Color */
	background-image: url(images/threeD.png); /* HeaderContent-HeadersDefault-Background_Image */
	background-position: left top;  /* HeaderContent-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* HeaderContent-HeadersDefault-Background_Image-Repeat */


	outline-width: 0;
    }

}


  /**************************************************************************************************
   * TYPE:        wm.DojoMenu Popup
   *
   * DESCRIPTION: Sets styles for menu.  Does not depend at this time on what kind of panel its in,
   *              the popup is always under body; the menubar itself we may update to work anywhere.
   *
   ************************************************************************************************/
 .wm_template table.dijitMenuTable.dijitMenu.dijitReset {
    /* Document-HeadersDefault-Font */
    font-family: sans-serif; /* Document-HeadersDefault-Font_Family */
    color: #FFFFFF; /* Document-HeadersDefault-Font_Color */
    font-weight: bold; /* Document-HeadersDefault-Font_Weight */

    /* Document-HeadersDefault-Background */
    background-color: #444444; /* Document-HeadersDefault-Background_Color */


    border: solid 1px black;
    border-top: solid 1px #999999;

    -moz-box-shadow: 3px 3px 4px black; /* Floating-Shadow */
    -webkit-box-shadow: 3px 3px 4px black;/* Floating-Shadow */
    box-shadow: 3px 3px 4px black; /* Floating-Shadow */
}

body.wm_template  .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemHover,
body .wm_template .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemHover,
body.wm_template  .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemSelected,
body .wm_template .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemSelected
 {

    color: #FFFFFF; /* Document-HeadersHover-Font_Color */

    /* Document-HeadersHover-Background */
    background-color: #444444; /* Document-HeadersHover-Background_Color */
    background-image: none;
    outline-width: 0;
}

  /**************************************************************************************************
   * TYPE:        wm.SelectMenu Popup
   *
   * DESCRIPTION: Sets styles for menu.  Does not depend at this time on what kind of panel its in,
   *              the popup is always under body; the menubar itself we may update to work anywhere.
   *
   ************************************************************************************************/
body.wm_template ul.dijitMenu .dijitMenuItem,
body .wm_template ul.dijitMenu .dijitMenuItem
{

    /* Tables-EvenRows-Font */
    color: #FFFFFF; /* Tables-EvenRows-Odd-Font_Color */

    /* Tables-EvenRows-Background */
    background-color: #444444; /* Tabls-OddRows-Background_Color */

    border-bottom-size: 1px;      /* Tables-EvenRows-Border_Size */
    border-bottom-style: solid;   
    border-bottom-color: #AAAAAA; /* Tables-EvenRows-Border_Color */
}

/* Combobox Popup items with hover/selected */
body.wm_template  ul.dijitMenu .dijitMenuItem.dijitMenuItemHover,
body .wm_template ul.dijitMenu .dijitMenuItem.dijitMenuItemHover,
body.wm_template  ul.dijitMenu .dijitMenuItem.dijitMenuItemSelected,
body .wm_template ul.dijitMenu .dijitMenuItem.dijitMenuItemSelected
 {
    /* Document-HeadersHover-Font */
    color: #FFFFFF; /* Document-HeadersHover-Font_Color */

    /* Document-HeadersHover-Background */
    background-color: #333333; /* Document-HeadersHover-Background_Color */    

    outline-width: 0;
}

/* Border around the entire menu */
 body.tundra.wm_template .dijitPopup ul.dijitMenu {
    border-width: 1px;
    border-style: solid;
    border-color: black; 

    -moz-box-shadow: 4px 4px 8px black; /* Floating-Shadow */
    -webkit-box-shadow: 4px 4px 8px black;  /* Floating-Shadow */
    box-shadow: 4px 4px 8px black;  /* Floating-Shadow */
}


