  /**************************************************************************************************
   * TYPE:        wm.DojoMenu
   *
   * DESCRIPTION: Sets styles for menu.  Some styles (font-size) are going to be shared across all 
   *              panel types
   *
   ************************************************************************************************/

#studio_designer.wm_template .dojoMenu, 
#studio_themesPage_themeDesigner_demoPanelTabLayers_client .dojoMenu {
    background-image: none !important;
}

@media screen { /* Document-Level */ 
    .wm_template .dojoMenu .dijitMenu,
    .wm_template .dojoMenu .dijitMenuBar {
	/* Document-ClickablesDefault-Font */
	font-family: sans-serif; /* Document-ClickablesDefault-Font_Family */
	font-size: 12pt; /* Document-ClickablesDefault-Font_TextSize */
	font-weight: bold; /* Document-ClickablesDefault-Font_Weight */
	color: #FFFFFF; /* Document-Styles-Font_Color */
	background-color: transparent;
	background-image: none;
    }
    .wm_template .dojoMenu.ClickableDojoMenu .dijitMenu,
    .wm_template .dojoMenu.ClickableDojoMenu .dijitMenuBar {
	color: #FFFFFF; /* Document-ClickablesDefault-Font_Color */

	/* Document-ClickablesDefault-Background */
	background-color: #444444; /* Document-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* Document-ClickablesDefault-Background_Image */
	background-position: left top;  /* Document-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-ClickablesDefault-Background_Image-Repeat */
    }

    /* Spacing between menu items */
    .wm_template .dijitMenuBar .dijitMenuItem,
    .tundra .wm-darksnazzy .wm_template .dijitMenuBar .dijitMenuItem {
	margin-right: 10px; /* wm.DojoMenu-Right_Margin */
    }

    body.wm_template .dojoMenu .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
    body .wm_template .dojoMenu .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
    body.wm_template .dojoMenu .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .dojoMenu .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body.wm_template .dojoMenu .dijitMenuActive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .dojoMenu .dijitMenuActive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected {
	/* Document-ClickablesHover-Font */
	color: #FFFFFF; /* Document-ClickablesHover-Font_Color */

	/* Document-ClickablesHover-Background */
	background-color: #444444; /* Document-ClickablesHover-Background_Color */
	background-image: url(images/threeD.png); /* Document-ClickablesDefault-Background_Image */
	background-position: left top;  /* Document-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-ClickablesDefault-Background_Image-Repeat */


	outline-width: 0;
    }
}

@media screen { /* MainContent-Level */ 
    .wm_template .MainContent .dojoMenu .dijitMenu,
    .wm_template .MainContent .dojoMenu .dijitMenuBar {
	/* MainContent-ClickablesDefault-Font */
	font-family: sans-serif; /* MainContent-ClickablesDefault-Font_Family */
	font-size: 12pt; /* MainContent-ClickablesDefault-Font_TextSize */
	font-weight: bold; /* MainContent-ClickablesDefault-Font_Weight */
	color: #FFFFFF; /* MainContent-Styles-Font_Color */
	background-color: transparent;
	background-image: none;
}

    .wm_template .MainContent .dojoMenu.ClickableDojoMenu .dijitMenu,
    .wm_template .MainContent .dojoMenu.ClickableDojoMenu .dijitMenuBar {
	
	/* MainContent-ClickablesDefault-Background */
	background-color: #444444; /* MainContent-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-ClickablesDefault-Background_Image */
	background-position: left top;  /* MainContent-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-ClickablesDefault-Background_Image-Repeat */
    }


    body.wm_template .MainContent .dojoMenu .dijitMenuPassive .dijitMenuItem.dijitMenuItemHover,
    body .wm_template .MainContent .dojoMenu .dijitMenuPassive .dijitMenuItem.dijitMenuItemHover,
    body.wm_template .MainContent  .dojoMenu .dijitMenuPassive .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .MainContent .dojoMenu .dijitMenuPassive .dijitMenuItem.dijitMenuItemSelected,
    body.wm_template .MainContent  .dojoMenu .dijitMenuActive .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .MainContent .dojoMenu .dijitMenuActive .dijitMenuItem.dijitMenuItemSelected {
	/* MainContent-ClickablesHover-Font */
	color: #FFFFFF; /* MainContent-ClickablesHover-Font_Color */

	/* MainContent-ClickablesHover-Background */
	background-color: #444444; /* MainContent-ClickablesHover-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-ClickablesDefault-Background_Image */
	background-position: left top;  /* MainContent-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-ClickablesDefault-Background_Image-Repeat */


	outline-width: 0;
    }
}


@media screen { /* HeaderContent-Level */ 
    .wm_template .HeaderContent .dojoMenu .dijitMenu,
    .wm_template .HeaderContent .dojoMenu .dijitMenuBar,
    .wm_template .HeaderContent .dojoMenu .dijitMenuBar {
	/* HeaderContent-ClickablesDefault-Font */
	font-family: sans-serif; /* HeaderContent-ClickablesDefault-Font_Family */
	font-size: 12pt; /* HeaderContent-ClickablesDefault-Font_TextSize */
	color: #FFFFFF; /* HeaderContent-Styles-Font_Color */
	font-weight: bold; /* HeaderContent-ClickablesDefault-Font_Weight */

	/* HeaderContent-ClickablesDefault-Background */
	background-color: transparent;
	background-image: none; 
	background-position: left top;
	background-repeat: repeat-x; 

	border-width: 0px;
	font-weight: bold;        
    }

    /* Spacing between menu items */
    .wm_template .HeaderContent .dijitMenuBar .dijitMenuItem,
    .tundra .wm-darksnazzy .wm_template .dijitMenuBar .dijitMenuItem {
	margin-right: 10px; /* wm.DojoMenu-Right_Margin */
    }

    body.wm_template .HeaderContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
    body .wm_template .HeaderContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
    body.wm_template .HeaderContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .HeaderContent .dijitMenuPassive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body.wm_template .HeaderContent .dijitMenuActive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected,
    body .wm_template .HeaderContent .dijitMenuActive.dijitMenuBar .dijitMenuItem.dijitMenuItemSelected {
	/* HeaderContent-ClickablesHover-Font */
	color: #FFFFFF; /* HeaderContent-Styles-Font_Color */

	/* HeaderContent-ClickablesHover-Background */
	background-color: transparent;
        opacity: 0.8;
	background-image: none; 
	outline-width: 0;
    }

 .wm_template .HeaderContent table.dijitMenuTable.dijitMenu.dijitReset {
    /* HeaderContent-ClickablesDefault-Font */
    font-family: sans-serif; /* HeaderContent-ClickablesDefault-Font_Family */
    color: #FFFFFF; /* HeaderContent-Styles-Font_Color */
    font-weight: bold; /* HeaderContent-ClickablesDefault-Font_Weight */

    /* HeaderContent-ClickablesDefault-Background */
    background-color: transparent; 


    border: solid 0px black;
    border-top: solid 0px #999999;

    -moz-box-shadow: 0px 0px 0px black; /* Floating-Shadow */
    -webkit-box-shadow: 0px 0px 0px black;/* Floating-Shadow */
    box-shadow: 0px 0px 0px black; /* Floating-Shadow */
}


}


  /**************************************************************************************************
   * TYPE:        wm.DojoMenu Popup
   *
   * DESCRIPTION: Sets styles for menu.  Does not depend at this time on what kind of panel its in,
   *              the popup is always under body; the menubar itself we may update to work anywhere.
   *
   ************************************************************************************************/
.wm_template .dijitPopup table.dijitMenuTable.dijitMenu.dijitReset {
    /* Document-ClickablesDefault-Font */
    font-family: sans-serif; /* Document-ClickablesDefault-Font_Family */
    color: #FFFFFF; /* Document-ClickablesDefault-Font_Color */
    font-weight: bold; /* Document-ClickablesDefault-Font_Weight */

    /* Document-ClickablesDefault-Background */
    background-color: #444444; /* Document-ClickablesDefault-Background_Color */
    border: solid 1px black;
    border-top: solid 1px #999999;

    -moz-box-shadow: 3px 3px 4px black; /* Floating-Shadow */
    -webkit-box-shadow: 3px 3px 4px black;/* Floating-Shadow */
    box-shadow: 3px 3px 4px black; /* Floating-Shadow */
}

body.wm_template  .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemHover,
body .wm_template .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemHover,
body.wm_template  .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemSelected,
body .wm_template .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemSelected
 {

    color: #FFFFFF; /* Document-ClickablesHover-Font_Color */

    /* Document-ClickablesHover-Background */
    background-color: #444444; /* Document-ClickablesHover-Background_Color */
    background-image: none;
    outline-width: 0;
}

  /**************************************************************************************************
   * TYPE:        wm.SelectMenu Popup, wm.Calendar Month list popup
   *
   * DESCRIPTION: Sets styles for menu.  Does not depend at this time on what kind of panel its in,
   *              the popup is always under body; the menubar itself we may update to work anywhere.
   *
   ************************************************************************************************/
body.wm_template ul.dijitMenu .dijitMenuItem,
body .wm_template ul.dijitMenu .dijitMenuItem,
body.wm_default div.dijitMenu .dijitCalendarMonthLabel {

    /* Tables-EvenRows-Font */
    color: #FFFFFF; /* Tables-EvenRows-Font_Color */

    /* Tables-EvenRows-Background */
    background-color: #444444; /* Tables-EvenRows-Background_Color */

    border-bottom-size: 1px;      /* Tables-EvenRows-Border_Size */
    border-bottom-style: solid;   
    border-bottom-color: #AAAAAA; /* Tables-EvenRows-Border_Color */
}

/* Combobox and Calendar Month Popup  items with hover/selected */
body.wm_template  ul.dijitMenu .dijitMenuItem.dijitMenuItemHover,
body .wm_template ul.dijitMenu .dijitMenuItem.dijitMenuItemHover,
body.wm_template  ul.dijitMenu .dijitMenuItem.dijitMenuItemSelected,
body .wm_template ul.dijitMenu .dijitMenuItem.dijitMenuItemSelected,
body.wm_default div.dijitMenu .dijitCalendarMonthLabel.dijitMenuItemHover,
body .wm_default div.dijitMenu .dijitCalendarMonthLabel.dijitMenuItemHover {
    /* Document-ClickablesHover-Font */
    color: #FFFFFF; /* Document-ClickablesHover-Font_Color */

    /* Document-ClickablesHover-Background */
    background-color: #333333; /* Document-ClickablesHover-Background_Color */    

    outline-width: 0;
}

/* Border around the entire menu */
 body.tundra.wm_template .dijitPopup ul.dijitMenu {
    border-width: 1px;
    border-style: solid;
    border-color: black; 

    -moz-box-shadow: 4px 4px 8px black; /* Floating-Shadow */
    -webkit-box-shadow: 4px 4px 8px black;  /* Floating-Shadow */
    box-shadow: 4px 4px 8px black;  /* Floating-Shadow */
}


