/* NOTE: Shadows don't currently work on fancy panel or Layers */


  /**************************************************************************************************
   * TYPE:        Tab Buttons
   *
   * DESCRIPTION: Border radius and shadows for various Layers and panels; set via Control Freak mode
   ************************************************************************************************/
.wm_template button.wmtablayers-tab {
    /* wm.TabLayers-Shadow */
    -moz-box-shadow: 2px 0px 2px black; /* wm.TabLayers-Shadow */
    -webkit-box-shadow: 2px 0px 2px black;  /* wm.TabLayers-Shadow */
    box-shadow: 2px 0px 2px black;  /* wm.TabLayers-Shadow */

    height: 12px; /* wm.TabLayers-Button_Height */
    font-size: 12px; /* wm.TabLayers-Button_TextSize */
}

.wm_template .wmtablayers-tab:hover, .wm_template .wmtablayers-tab:focus {
    
    /* wm.TabLayers-HoverShadow */
    -moz-box-shadow: 1px 0px 1px black;  /* wm.TabLayers-Hover-Shadow */
    -webkit-box-shadow: 1px 0px 1px black;   /* wm.TabLayers-Hover-Shadow */
    box-shadow: 1px 0px 1px black;   /* wm.TabLayers-Hover-Shadow */
}

.wm_template .wmtablayers-tab.wmtablayers-selected,
.wm_template .wmtablayers-tab.wmtablayers-selected:hover,
.wm_template .wmtablayers-tab.wmtablayers-selected:focus {
    -moz-box-shadow: 0px 0px 0px black;  /* wm.TabLayers-Selected-Shadow */
    -webkit-box-shadow: 0px 0px 0px black;   /* wm.TabLayers-Selected-Shadow */
    box-shadow: 0px 0px 0px black;   /* wm.TabLayers-Selected-Shadow */
}

/* Spacing between each tab */
.wm_template .wmtablayers-tab.wmtablayers-selected,
.wm_template .wmtablayers-tab.wmtablayers-tab {
    margin-left: 8px; /* wm.TabLayers-Margin-Width */
}

  /************************************** END Tab Button ***************************************/



  /**************************************************************************************************
   * TYPE:        Fancy Panel container
   *
   * DESCRIPTION: top radius of the container should always be zero 
   *              
   * TODO:        if no title, it should NOT be zero
   ************************************************************************************************/
.wm_template .wmFancyPanel-containerWidget {
    -moz-border-radius-topright: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    border-radius-topleft: 0px !important;
    border-radius-topright: 0px !important;

}



    /* BEGIN SECTION wm.TabLayers / wm.WizardLayers */
    /* Content panel for tab layers */


  /**************************************************************************************************
   * TYPE:        Panel Border Styles
   *
   * DESCRIPTION: Border radius and shadows for various Layers and panels
   ************************************************************************************************/

.wm_template .wmaccordion .wmlayer {
    /* Common-Panel_BorderStyle */
    -moz-border-radius: 2px; /* Common-Panel_BorderStyle_Radius */
    -webkit-border-radius: 2px; /* Common-Panel_BorderStyle_Radius */
    border-radius: 2px; /* Common-Panel_BorderStyle_Radius */
}


body.tundra.wm_template  div.wmheader,
body.tundra .wm_template  div.wmheader,
.wm_template  .wmTabLayers-client, 
.wm_template  .wmWizardLayers-client {
    /* Common-Panel_Border */
    -moz-border-radius: 4px; /* Common-Panel_BorderStyle_Radius */
    -webkit-border-radius: 4px; /* Common-Panel_BorderStyle_Radius */
    border-radius: 4px; /* Common-Panel_BorderStyle_Radius */
}

.wm_template .wmFancyPanel-containerWidget {
    -moz-border-radius-bottomleft: 4px; /* Common-Panel_BorderStyle_Radius */
    -moz-border-radius-bottomright: 4px;/* Common-Panel_BorderStyle_Radius */
    -webkit-border-bottom-left-radius: 4px;/* Common-Panel_BorderStyle_Radius */
    -webkit-border-bottom-right-radius: 4px;/* Common-Panel_BorderStyle_Radius */
    border-radius-bottomleft: 4px;/* Common-Panel_BorderStyle_Radius */
    border-radius-bottomright: 4px;/* Common-Panel_BorderStyle_Radius */

}    
    .wm_template .wmTabLayers-client, 
    .wm_template .wmWizardLayers-client {
	/* Common-Panel_Border */
	-moz-border-radius: 4px; /* Common-Panel_BorderStyle_Radius */
	-webkit-border-radius: 4px; /* Common-Panel_BorderStyle_Radius */
	border-radius: 4px; /* Common-Panel_BorderStyle_Radius */

    }


.wm_template .wmFancyPanel-labelWidget {
    /* Must always be 2-4px smaller than .wmfancypanel */
       -moz-border-radius-topleft: 12px;   /* wm.FancyPanel_Top-Radius */
    -moz-border-radius-topright: 12px;/* wm.FancyPanel_Top-Radius */
    -webkit-border-top-left-radius: 12px;/* wm.FancyPanel_Top-Radius */
    -webkit-border-top-right-radius: 12px;/* wm.FancyPanel_Top-Radius */
    border-radius-topleft: 12px;/* wm.FancyPanel_Top-Radius */
    border-radius-topright: 12px;/* wm.FancyPanel_Top-Radius */

}    


    /* END Border Styles */



/* BEGIN SECTION wm.AccorionLayers / wm.AccordionDecorator */

@media screen { /* Document-Level */ 
  /**************************************************************************************************
   * TYPE:        Main Document Styles
   *
   * DESCRIPTION: Specify all font and background styles for the document level
   ************************************************************************************************/
.wm_template  #wavemakerNode  .wmlayout,
#studio_designer.wm_template .wmlayout, 
#studio_themesPage_themeDesigner_demoPanel .wmlayout {
    /* Document-Styles-Font */
    font-family: sans-serif; /* Document-Styles-Font_Family */
    font-size: 12pt; /* Document-Styles-Font_TextSize */
    color: #FFFFFF; /* Document-Styles-Font_Color */
    font-weight: bold; /* Document-Styles-Font_Weight */


    /* Document-Styles-Background */
    background-color: #444444; /* Document-Styles-Background_Color */
    background-image: url(images/threeD.png); /* Document-Styles-Background_Image */
    background-position: left top;  /* Document-Styles-Background_Image-Position */
    background-repeat: repeat-x; /* Document-Styles-Background_Image-Repeat */
}

#studio_designer.wm_template, 
body.wm_template {
    background-color: #444444; /* Document-Styles-Background_Color */
}


    .wm_template div.wmaccordion-header {

	/* Document-HeadersActive-Font  + Headers-Default-Font */
	font-family: sans-serif; /* Document-HeadersDefault-Font_Family */
	font-size: 12pt; /* Document-HeadersDefault-Font_TextSize */
	color: #FFFFFF; /* Document-HeadersActive-Font_Color */
	font-weight: bold; /* Document-HeadersDefault-Font_Weight */

	/* Document-HeadersActive-Background */
	background-color: #444444; /* Document-HeadersActive-Background_Color */
	background-image: url(images/threeD.png); /* Document-HeadersActive-Background_Image */
	background-position: left top;  /* Document-HeadersActive-Background_Image-Position */
	background-repeat: repeat-x; /* Document-HeadersActive-Background_Image-Repeat */

	/* Document-HeadersDefault-BorderStyle_Radius */
	-moz-border-radius: 4px; /* Document-HeadersDefault-BorderStyle_Radius */
	-webkit-border-radius: 4px; /* Document-HeadersDefault-BorderStyle_Radius */
	border-radius: 4px; /* Document-HeadersDefault-BorderStyle_Radius */

	padding-left: 10px;
    }

    .wm_template div.wmaccordion .wmaccordion-collapsed {
	/* Document-HeadersDefault-Font */
	color: #FFFFFF; /* Document-HeadersDefault-Font_Color */
	font-weight: bold; /* Document-HeadersDefault-Font_Weight */
	font-family: sans-serif; /* Document-HeadersDefault-Font_Family */
	font-size: 12pt; /* Document-HeadersDefault-Font_TextSize */


	/* Document-HeadersDefault-Background */
	background-color: #444444; /* Document-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* Document-HeadersDefault-Background_Image */
	background-position: left top;  /* Document-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-HeadersDefault-Background_Image-Repeat */

	/* Document-HeadersDefault-BorderStyle_Radius */
	-moz-border-radius: 4px; /* Document-HeadersDefault-BorderStyle_Radius */
	-webkit-border-radius: 4px; /* Document-HeadersDefault-BorderStyle_Radius */
	border-radius: 4px; /* Document-HeadersDefault-BorderStyle_Radius */
    }

    .wm_template div.wmaccordion-header:hover, 
    .wm_template div.wmaccordion wmaccordion-header.wmaccordion-collapsed:hover {
	/* Document-HeadersHover-Font */
	color: #FFFFFF; /* Document-HeadersHover-Font_Color */

	/* Document-HeadersHover-Background */
	background-color: #444444; /* Document-HeadersHover-Background_Color */
	background-image: url(images/threeD.png); /* Document-HeadersHover-Background_Image */
	background-position: left top;  /* Document-HeadersHover-Background_Image-Position */
	background-repeat: repeat-x; /* Document-HeadersHover-Background_Image-Repeat */
    }

    .wm_template .wmaccordion .wmaccordion-content {
	background-color: transparent;
    }
    /* END SECTION wm.AccorionLayers / wm.AccordionDecorator */

    /* BEGIN SECTION wm.FancyPanel */


    /* END SECTION wm.FancyPanel */

    /* BEGIN SECTION wm.TabLayers / wm.TabDecorator */
    .wm_template div.wmtablayers-tabbar {
	background: transparent;
    }

.wm_template .wmFancyPanel-labelWidget {
    /* Document-HeadersDefault-Font */
    font-family: sans-serif; /* Document-HeadersDefault-Font_Family */
    font-size: 12pt; /* Document-HeadersDefault-Font_TextSize */
    color: #FFFFFF; /* Document-HeadersDefault-Font_Color */
    font-weight: bold; /* Document-HeadersDefault-Font_Weight */

    /* Document-HeadersDefault-Background */
    background-color: #444444; /* Document-HeadersDefault-Background_Color */
    background-image: url(images/threeD.png); /* Document-HeadersDefault-Background_Image */
    background-position: left top;  /* Document-HeadersDefault-Background_Image-Position */
    background-repeat: repeat-x; /* Document-HeadersDefault-Background_Image-Repeat */
}

    /* Tab buttons */
    .wm_template button.wmtablayers-tab {
	/* Document-HeadersDefault-Font */
	font-family: sans-serif; /* Document-HeadersDefault-Font_Family */
	color: #FFFFFF; /* Document-HeadersDefault-Font_Color */
	font-weight: bold; /* Document-HeadersDefault-Font_Weight */

	/* Document-HeadersDefault-Background */
	background-color: #444444; /* Document-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* Document-HeadersDefault-Background_Image */
	background-position: left top;  /* Document-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-HeadersDefault-Background_Image-Repeat */

	/* Document-HeadersDefault-Border */
	border-width: 2px; /* editting this is problematic without also editting headerHeight */
	border-bottom-color: transparent;
	border-top-color: #444444; /* Document-HeadersDefault-Border_Color */
	border-right-color:#444444; /* Document-HeadersDefault-Border_Color */
	border-left-color:#444444; /* Document-HeadersDefault-Border_Color */

	/* Document-HeadersDefault-BorderStyle_Radius */
	-moz-border-radius-topleft: 8px; /* Document-HeadersDefault-BorderStyle_Radius */
	-moz-border-radius-topright: 8px; /* Document-HeadersDefault-BorderStyle_Radius */
	-webkit-border-top-left-radius: 8px; /* Document-HeadersDefault-BorderStyle_Radius */
	-webkit-border-top-right-radius: 8px; /* Document-HeadersDefault-BorderStyle_Radius */
	border-radius-topleft: 8px; /* Document-HeadersDefault-BorderStyle_Radius */
	border-radius-topright: 8px; /* Document-HeadersDefault-BorderStyle_Radius */
    }

    .wm_template .wmtablayers-tab:hover, .wm_template .wmtablayers-tab:focus {
	/* Document-HeadersHover-Font */
	color: #FFFFFF; /* Document-HeadersHover-Font_Color */

	/* Document-HeadersHover-Background */
	background-color: #444444; /* Document-HeadersHover-Background_Color */
	background-image: url(images/threeD.png); /* Document-HeadersHover-Background_Image */
	background-position: left top;  /* Document-HeadersHover-Background_Image-Position */
	background-repeat: repeat-x; /* Document-HeadersHover-Background_Image-Repeat */

    }

    /* Tab <input type='button'> elements need to handle browser focus as any other button */
    .wm_template .wmtablayers-tab:focus {
	outline-width: 0;
    }

    /* Selected tab */
    .wm_template .wmtablayers-tab.wmtablayers-selected,
    .wm_template .wmtablayers-tab.wmtablayers-selected:hover,
    .wm_template .wmtablayers-tab.wmtablayers-selected:focus {
	/* Document-HeadersActive-Font */
	color: #FFFFFF; /* Document-HeadersActive-Font_Color */

	/* Document-HeadersActive-Background */
	background-color: #444444; /* Document-HeadersActive-Background_Color */
	background-image: url(images/threeD.png); /* Document-HeadersActive-Background_Image */
	background-position: left top;  /* Document-HeadersActive-Background_Image-Position */
	background-repeat: repeat-x; /* Document-HeadersActive-Background_Image-Repeat */
    }


    /* END SECTION wm.TabLayers / wm.TabDecorator */


    /* END ESCTION wm.TabLayers / wm.WizardLayers */

    /* BEGIN SECTION wm.WizardLayers */

    /* Custom formatting for wizard tab with focus or hover on the <input type='button'/> */
    .wm_template .wmwizardlayers-tab:focus,
    .wm_template .wmwizardlayers-tab:hover {
	color: black; /* Custom mouseover color */
    }

    /* END SECTION wm.WizardLayers */



    /* BEGIN SECTION Headers */
    body.tundra.wm_template div.wmheader,
    body.tundra .wm_template div.wmheader {
	/* Document-HeadersDefault-Font */
	font-family: sans-serif; /* Document-HeadersDefault-Font_Family */
	font-size: 12pt; /* Document-HeadersDefault-Font_TextSize */
	color: #FFFFFF; /* Document-HeadersDefault-Font_Color */
	font-weight: bold; /* Document-HeadersDefault-Font_Weight */

	/* Document-HeadersDefault-Border */
	-moz-border-radius: 4px; /* Document-HeadersDefault-BorderStyle_Radius */
	-webkit-border-radius: 4px; /* Document-HeadersDefault-BorderStyle_Radius */
	border-radius: 4px; /* Document-HeadersDefault-BorderStyle_Radius */

	/* Document-HeadersDefault-Background */
	background-color: #444444; /* Document-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* Document-HeadersDefault-Background_Image */
	background-position: left top;  /* Document-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-HeadersDefault-Background_Image-Repeat */
    }

    /* END SECTION Headers */
    
    
    /* Document Level Only */
    .wm_template .titlebar,
    .wm_template .toolbar, 
    .wm_template .TOC {
	/* Document-HeadersDefault-Font */
	font-family: sans-serif; /* Document-HeadersDefault-Font_Family */
	font-size: 12pt; /* Document-HeadersDefault-Font_TextSize */
	color: #FFFFFF; /* Document-HeadersDefault-Font_Color */
	font-weight: bold; /* Document-HeadersDefault-Font_Weight */

	/* Document-HeadersDefault-Background */
	background-color: #444444; /* Document-HeadersDefault-Background_Color */
    }


    
    
}



@media screen { /* PageContent-Level */ 
    /* Content Areas */
    body.tundra.wm_template .wmcontentarea,
    body.tundra .wm_template .wmcontentarea  {
	/* PageContent-Styles-Font */
	font-family: sans-serif; /* PageContent-Styles-Font_Family */
	font-size: 12pt; /* PageContent-Styles-Font_TextSize */
	color: #FFFFFF; /* PageContent-Styles-Font_Color */
	font-weight: bold; /* PageContent-Styles-Font_Weight */

	/* PageContent-Styles-Background */
	background-color: #444444; /* PageContent-Styles-Background_Color */
	background-image: url(images/threeD.png); /* PageContent-Styles-Background_Image */
	background-position: left top;  /* PageContent-Styles-Background_Image-Position */
	background-repeat: repeat-x; /* PageContent-Styles-Background_Image-Repeat */

    }


    .wm_template .wmcontentarea  div.wmaccordion-header {

	/* PageContent-HeadersActive-Font  + Headers-Default-Font */
	font-family: sans-serif; /* PageContent-HeadersDefault-Font_Family */
	font-size: 12pt; /* PageContent-HeadersDefault-Font_TextSize */
	color: #FFFFFF; /* PageContent-HeadersActive-Font_Color */
	font-weight: bold; /* PageContent-HeadersDefault-Font_Weight */

	/* PageContent-HeadersActive-Background */
	background-color: #444444; /* PageContent-HeadersActive-Background_Color */
	background-image: url(images/threeD.png); /* PageContent-HeadersActive-Background_Image */
	background-position: left top;  /* PageContent-HeadersActive-Background_Image-Position */
	background-repeat: repeat-x; /* PageContent-HeadersActive-Background_Image-Repeat */

	padding-left: 10px;
    }

    .wm_template .wmcontentarea  div.wmaccordion .wmaccordion-collapsed {
	/* PageContent-HeadersDefault-Font */
	color: #FFFFFF; /* PageContent-HeadersDefault-Font_Color */
	font-weight: bold; /* PageContent-HeadersDefault-Font_Weight */
	font-family: sans-serif; /* PageContent-HeadersDefault-Font_Family */
	font-size: 12pt; /* PageContent-HeadersDefault-Font_TextSize */


	/* PageContent-HeadersDefault-Background */
	background-color: #444444; /* PageContent-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* PageContent-HeadersDefault-Background_Image */
	background-position: left top;  /* PageContent-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* PageContent-HeadersDefault-Background_Image-Repeat */


    }

    .wm_template .wmcontentarea  div.wmaccordion-header:hover, 
    .wm_template .wmcontentarea  div.wmaccordion wmaccordion-header.wmaccordion-collapsed:hover {
	/* PageContent-HeadersHover-Font */
	color: #FFFFFF; /* PageContent-HeadersHover-Font_Color */

	/* PageContent-HeadersHover-Background */
	background-color: #444444; /* PageContent-HeadersHover-Background_Color */
	background-image: url(images/threeD.png); /* PageContent-HeadersHover-Background_Image */
	background-position: left top;  /* PageContent-HeadersHover-Background_Image-Position */
	background-repeat: repeat-x; /* PageContent-HeadersHover-Background_Image-Repeat */
    }

    .wm_template .wmcontentarea  .wmaccordion .wmaccordion-content {
	background-color: transparent;
    }
    /* END SECTION wm.AccorionLayers / wm.AccordionDecorator */




    /* BEGIN SECTION wm.FancyPanel */


    /* END SECTION wm.FancyPanel */

    /* BEGIN SECTION wm.TabLayers / wm.TabDecorator */
    .wm_template .wmcontentarea  div.wmtablayers-tabbar {
	background: transparent;
    }

    /* Tab buttons */
    .wm_template .wmcontentarea  button.wmtablayers-tab {
	/* PageContent-HeadersDefault-Font */
	font-family: sans-serif; /* PageContent-HeadersDefault-Font_Family */
	color: #FFFFFF; /* PageContent-HeadersDefault-Font_Color */
	font-weight: bold; /* PageContent-HeadersDefault-Font_Weight */

	/* PageContent-HeadersDefault-Background */
	background-color: #444444; /* PageContent-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* PageContent-HeadersDefault-Background_Image */
	background-position: left top;  /* PageContent-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* PageContent-HeadersDefault-Background_Image-Repeat */

	/* PageContent-HeadersDefault-Border */
	border-width: 2px; /* editting this is problematic without also editting headerHeight */
	border-bottom-color: transparent;
	border-top-color: #444444; /* PageContent-HeadersDefault-Border_Color */
	border-right-color:#444444; /* PageContent-HeadersDefault-Border_Color */
	border-left-color:#444444; /* PageContent-HeadersDefault-Border_Color */

    }

    .wm_template .wmcontentarea  .wmtablayers-tab:hover, .wm_template .wmcontentarea  .wmtablayers-tab:focus {
	/* PageContent-HeadersHover-Font */
	color: #FFFFFF; /* PageContent-HeadersHover-Font_Color */

	/* PageContent-HeadersHover-Background */
	background-color: #444444; /* PageContent-HeadersHover-Background_Color */
	background-image: url(images/threeD.png); /* PageContent-HeadersHover-Background_Image */
	background-position: left top;  /* PageContent-HeadersHover-Background_Image-Position */
	background-repeat: repeat-x; /* PageContent-HeadersHover-Background_Image-Repeat */

    }

    /* Tab <input type='button'> elements need to handle browser focus as any other button */
    .wm_template .wmcontentarea  .wmtablayers-tab:focus {
	outline-width: 0;
    }

    /* Selected tab */
    .wm_template .wmcontentarea  .wmtablayers-tab.wmtablayers-selected,
    .wm_template .wmcontentarea  .wmtablayers-tab.wmtablayers-selected:hover,
    .wm_template .wmcontentarea  .wmtablayers-tab.wmtablayers-selected:focus {
	/* PageContent-HeadersActive-Font */
	color: #FFFFFF; /* PageContent-HeadersActive-Font_Color */

	/* PageContent-HeadersActive-Background */
	background-color: #444444; /* PageContent-HeadersActive-Background_Color */
	background-image: url(images/threeD.png); /* PageContent-HeadersActive-Background_Image */
	background-position: left top;  /* PageContent-HeadersActive-Background_Image-Position */
	background-repeat: repeat-x; /* PageContent-HeadersActive-Background_Image-Repeat */
    }


    /* END SECTION wm.TabLayers / wm.TabDecorator */

    /* BEGIN SECTION wm.WizardLayers */

    /* Custom formatting for wizard tab with focus or hover on the <input type='button'/> */
    .wm_template .wmcontentarea  .wmwizardlayers-tab:focus,
    .wm_template .wmcontentarea  .wmwizardlayers-tab:hover {
	color: black; /* Custom mouseover color */
    }

    /* END SECTION wm.WizardLayers */


    /* BEGIN SECTION Headers */
    body.tundra.wm_template .wmcontentarea  div.wmheader,
    body.tundra .wm_template .wmcontentarea  div.wmheader {
	/* PageContent-HeadersDefault-Font */
	font-family: sans-serif; /* PageContent-HeadersDefault-Font_Family */
	font-size: 12pt; /* PageContent-HeadersDefault-Font_TextSize */
	color: #FFFFFF; /* PageContent-HeadersDefault-Font_Color */
	font-weight: bold; /* PageContent-HeadersDefault-Font_Weight */

	/* PageContent-HeadersDefault-Background */
	background-color: #444444; /* PageContent-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* PageContent-HeadersDefault-Background_Image */
	background-position: left top;  /* PageContent-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* PageContent-HeadersDefault-Background_Image-Repeat */
    }

    /* END SECTION Headers */
    
    
.wm_template .wmcontentarea .wmFancyPanel-labelWidget  {
    /* Document-HeadersDefault-Font */
    font-family: sans-serif; /* PageContent-HeadersDefault-Font_Family */
    font-size: 12pt; /* PageContent-HeadersDefault-Font_TextSize */
    color: #FFFFFF; /* PageContent-HeadersDefault-Font_Color */
    font-weight: bold; /* PageContent-HeadersDefault-Font_Weight */

    /* PageContent-HeadersDefault-Background */
    background-color: #444444; /* PageContent-HeadersDefault-Background_Color */
    background-image: url(images/threeD.png); /* PageContent-HeadersDefault-Background_Image */
    background-position: left top;  /* PageContent-HeadersDefault-Background_Image-Position */
    background-repeat: repeat-x; /* PageContent-HeadersDefault-Background_Image-Repeat */
}    
    
    
}


@media screen { /* ContentPanel-Level */ 
    /* Content Areas */
    body.tundra.wm_template .wmcontentarea div.wmcontentarea,
    body.tundra .wm_template .wmcontentarea div.wmcontentarea {
	/* ContentPanel-Styles-Font */
	font-family: sans-serif; /* ContentPanel-Styles-Font_Family */
	font-size: 12pt; /* ContentPanel-Styles-Font_TextSize */
	color: #FFFFFF; /* ContentPanel-Styles-Font_Color */
	font-weight: bold; /* ContentPanel-Styles-Font_Weight */

	/* ContentPanel-Styles-Background */
	background-color: #444444; /* ContentPanel-Styles-Background_Color */
	background-image: url(images/threeD.png); /* ContentPanel-Styles-Background_Image */
	background-position: left top;  /* ContentPanel-Styles-Background_Image-Position */
	background-repeat: repeat-x; /* ContentPanel-Styles-Background_Image-Repeat */

    }



    .wm_template .wmcontentarea .wmcontentarea div.wmaccordion-header {

	/* ContentPanel-HeadersActive-Font  + Headers-Default-Font */
	font-family: sans-serif; /* ContentPanel-HeadersDefault-Font_Family */
	font-size: 12pt; /* ContentPanel-HeadersDefault-Font_TextSize */
	color: #FFFFFF; /* ContentPanel-HeadersActive-Font_Color */
	font-weight: bold; /* ContentPanel-HeadersDefault-Font_Weight */

	/* ContentPanel-HeadersActive-Background */
	background-color: #444444; /* ContentPanel-HeadersActive-Background_Color */
	background-image: url(images/threeD.png); /* ContentPanel-HeadersActive-Background_Image */
	background-position: left top;  /* ContentPanel-HeadersActive-Background_Image-Position */
	background-repeat: repeat-x; /* ContentPanel-HeadersActive-Background_Image-Repeat */

	/* ContentPanel-HeadersDefault-BorderStyle_Radius */
	-moz-border-radius: 4px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	-webkit-border-radius: 4px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	border-radius: 4px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */

	padding-left: 10px;
    }

    .wm_template .wmcontentarea .wmcontentarea div.wmaccordion .wmaccordion-collapsed {
	/* ContentPanel-HeadersDefault-Font */
	color: #FFFFFF; /* ContentPanel-HeadersDefault-Font_Color */
	font-weight: bold; /* ContentPanel-HeadersDefault-Font_Weight */
	font-family: sans-serif; /* ContentPanel-HeadersDefault-Font_Family */
	font-size: 12pt; /* ContentPanel-HeadersDefault-Font_TextSize */


	/* ContentPanel-HeadersDefault-Background */
	background-color: #444444; /* ContentPanel-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* ContentPanel-HeadersDefault-Background_Image */
	background-position: left top;  /* ContentPanel-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* ContentPanel-HeadersDefault-Background_Image-Repeat */

	/* ContentPanel-HeadersDefault-BorderStyle_Radius */
	-moz-border-radius: 4px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	-webkit-border-radius: 4px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	border-radius: 4px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
    }

    .wm_template .wmcontentarea .wmcontentarea div.wmaccordion-header:hover, 
    .wm_template .wmcontentarea .wmcontentarea div.wmaccordion wmaccordion-header.wmaccordion-collapsed:hover {
	/* ContentPanel-HeadersHover-Font */
	color: #FFFFFF; /* ContentPanel-HeadersHover-Font_Color */

	/* ContentPanel-HeadersHover-Background */
	background-color: #444444; /* ContentPanel-HeadersHover-Background_Color */
	background-image: url(images/threeD.png); /* ContentPanel-HeadersHover-Background_Image */
	background-position: left top;  /* ContentPanel-HeadersHover-Background_Image-Position */
	background-repeat: repeat-x; /* ContentPanel-HeadersHover-Background_Image-Repeat */
    }

    .wm_template .wmcontentarea .wmcontentarea .wmaccordion .wmaccordion-content {
	background-color: transparent;
    }
    /* END SECTION wm.AccorionLayers / wm.AccordionDecorator */

    /* BEGIN SECTION wm.FancyPanel */


    /* END SECTION wm.FancyPanel */

    /* BEGIN SECTION wm.TabLayers / wm.TabDecorator */
    .wm_template .wmcontentarea .wmcontentarea div.wmtablayers-tabbar {
	background: transparent;
    }

    /* Tab buttons */
    .wm_template .wmcontentarea .wmcontentarea button.wmtablayers-tab {
	/* ContentPanel-HeadersDefault-Font */
	font-family: sans-serif; /* ContentPanel-HeadersDefault-Font_Family */
	color: #FFFFFF; /* ContentPanel-HeadersDefault-Font_Color */
	font-weight: bold; /* ContentPanel-HeadersDefault-Font_Weight */

	/* ContentPanel-HeadersDefault-Background */
	background-color: #444444; /* ContentPanel-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* ContentPanel-HeadersDefault-Background_Image */
	background-position: left top;  /* ContentPanel-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* ContentPanel-HeadersDefault-Background_Image-Repeat */

	/* ContentPanel-HeadersDefault-Border */
	border-width: 2px; /* editting this is problematic without also editting headerHeight */
	border-bottom-color: transparent;
	border-top-color: #444444; /* ContentPanel-HeadersDefault-Border_Color */
	border-right-color:#444444; /* ContentPanel-HeadersDefault-Border_Color */
	border-left-color:#444444; /* ContentPanel-HeadersDefault-Border_Color */

	/* ContentPanel-HeadersDefault-BorderStyle_Radius */
	-moz-border-radius-topleft: 8px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	-moz-border-radius-topright: 8px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	-webkit-border-top-left-radius: 8px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	-webkit-border-top-right-radius: 8px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	border-radius-topleft: 8px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	border-radius-topright: 8px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
    }

    .wm_template .wmcontentarea .wmcontentarea .wmtablayers-tab:hover, .wm_template .wmcontentarea .wmcontentarea .wmtablayers-tab:focus {
	/* ContentPanel-HeadersHover-Font */
	color: #FFFFFF; /* ContentPanel-HeadersHover-Font_Color */

	/* ContentPanel-HeadersHover-Background */
	background-color: #444444; /* ContentPanel-HeadersHover-Background_Color */
	background-image: url(images/threeD.png); /* ContentPanel-HeadersHover-Background_Image */
	background-position: left top;  /* ContentPanel-HeadersHover-Background_Image-Position */
	background-repeat: repeat-x; /* ContentPanel-HeadersHover-Background_Image-Repeat */

    }

    /* Tab <input type='button'> elements need to handle browser focus as any other button */
    .wm_template .wmcontentarea .wmcontentarea .wmtablayers-tab:focus {
	outline-width: 0;
    }

    /* Selected tab */
    .wm_template .wmcontentarea .wmcontentarea .wmtablayers-tab.wmtablayers-selected,
    .wm_template .wmcontentarea .wmcontentarea .wmtablayers-tab.wmtablayers-selected:hover,
    .wm_template .wmcontentarea .wmcontentarea .wmtablayers-tab.wmtablayers-selected:focus {
	/* ContentPanel-HeadersActive-Font */
	color: #FFFFFF; /* ContentPanel-HeadersActive-Font_Color */

	/* ContentPanel-HeadersActive-Background */
	background-color: #444444; /* ContentPanel-HeadersActive-Background_Color */
	background-image: url(images/threeD.png); /* ContentPanel-HeadersActive-Background_Image */
	background-position: left top;  /* ContentPanel-HeadersActive-Background_Image-Position */
	background-repeat: repeat-x; /* ContentPanel-HeadersActive-Background_Image-Repeat */
    }


    /* END SECTION wm.TabLayers / wm.TabDecorator */

    /* BEGIN SECTION wm.WizardLayers */

    /* Custom formatting for wizard tab with focus or hover on the <input type='button'/> */
    .wm_template .wmcontentarea .wmcontentarea .wmwizardlayers-tab:focus,
    .wm_template .wmcontentarea .wmcontentarea .wmwizardlayers-tab:hover {
	color: black; /* Custom mouseover color */
    }

    /* END SECTION wm.WizardLayers */

    /* BEGIN SECTION Headers */
    body.tundra.wm_template .wmcontentarea .wmcontentarea div.wmheader,
    body.tundra .wm_template .wmcontentarea .wmcontentarea div.wmheader {
	/* ContentPanel-HeadersDefault-Font */
	font-family: sans-serif; /* ContentPanel-HeadersDefault-Font_Family */
	font-size: 12pt; /* ContentPanel-HeadersDefault-Font_TextSize */
	color: #FFFFFF; /* ContentPanel-HeadersDefault-Font_Color */
	font-weight: bold; /* ContentPanel-HeadersDefault-Font_Weight */

	/* ContentPanel-HeadersDefault-Border */
	-moz-border-radius: 4px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	-webkit-border-radius: 4px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */
	border-radius: 4px; /* ContentPanel-HeadersDefault-BorderStyle_Radius */

	/* ContentPanel-HeadersDefault-Background */
	background-color: #444444; /* ContentPanel-HeadersDefault-Background_Color */
	background-image: url(images/threeD.png); /* ContentPanel-HeadersDefault-Background_Image */
	background-position: left top;  /* ContentPanel-HeadersDefault-Background_Image-Position */
	background-repeat: repeat-x; /* ContentPanel-HeadersDefault-Background_Image-Repeat */
    }

    /* END SECTION Headers */
    
.wm_template .wmcontentarea .wmFancyPanel-labelWidget  {
    /* ContentPanel-HeadersDefault-Font */
    font-family: sans-serif; /* ContentPanel-HeadersDefault-Font_Family */
    font-size: 12pt; /* ContentPanel-HeadersDefault-Font_TextSize */
    color: #FFFFFF; /* ContentPanel-HeadersDefault-Font_Color */
    font-weight: bold; /* ContentPanel-HeadersDefault-Font_Weight */

    /* ContentPanel-HeadersDefault-Background */
    background-color: #444444; /* ContentPanel-HeadersDefault-Background_Color */
    background-image: url(images/threeD.png); /* ContentPanel-HeadersDefault-Background_Image */
    background-position: left top;  /* ContentPanel-HeadersDefault-Background_Image-Position */
    background-repeat: repeat-x; /* ContentPanel-HeadersDefault-Background_Image-Repeat */
}    

}



