  /**************************************************************************************************
   * TYPE:        wm.dijit.ProgressBar
   *
   * DESCRIPTION: Sets the styles for wm.ProgressBar at each of three levels.  
   ************************************************************************************************/

.wm_template .wmprogressbar .dijitProgressBar {
    /* Common-Panel_BorderStyle_Radius */
    -moz-border-radius: 4px; /* Common-Panel_BorderStyle_Radius */
    -webkit-border-radius: 4px; /* Common-Panel_BorderStyle_Radius */
    border-radius: 4px;  /* Common-Panel_BorderStyle_Radius */
}
.wm_template .wmprogressbar .dijitProgressBarTile {
    /* Common-Panel-BorderStyle_Radius */
    -moz-border-radius: 4px; /* Common-Panel_BorderStyle_Radius */
    -webkit-border-radius: 4px; /* Common-Panel_BorderStyle_Radius */
    border-radius: 4px;  /* Common-Panel_BorderStyle_Radius */
}

.wm_template .wmprogressbar .dijitProgressBarFull {
    border-right-width: 0px;
}

@media screen { /* Document-Level */ 
    .wm_template .wmprogressbar .dijitProgressBarTile {
	/* Document-ClickablesDefault-Font */
	font-family: sans-serif; /* Document-ClickablesDefault-Font_Family */
	font-size: 12pt; /* Document-ClickablesDefault-Font_TextSize */
	color: #FFFFFF; /* Document-ClickablesDefault-Font_Color */
	font-weight: bold; /* Document-ClickablesDefault-Font_Weight */

	/* Document-ClickablesDefault-Background */
	background-color: #444444; /* Document-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* Document-ClickablesDefault-Background_Image */
	background-position: left top;  /* Document-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-ClickablesDefault-Background_Image-Repeat */

    }


    .wm_template .wmprogressbar .dijitProgressBar {
	/* Document-EditorsDefault-Font */
	font-family: sans-serif; /* Document-EditorsDefault-Font_Family */
	font-size: 12pt; /* Document-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* Document-EditorsDefault-Font_Color */
	font-weight: bold; /* Document-EditorsDefault-Font_Weight */

	/* Document-EditorsDefault-Background */
	background-color: #444444; /* Document-EditorsDefault-Background_Color */
	background-image: url(images/threeD.png); /* Document-EditorsDefault-Background_Image */
	background-position: left top;  /* Document-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* Document-EditorsDefault-Background_Image-Repeat */
    }
}


@media screen { /* MainContent-Level */ 
    .wm_template .MainContent .wmprogressbar .dijitProgressBarTile {
	/* MainContent-ClickablesDefault-Font */
	font-family: sans-serif; /* MainContent-ClickablesDefault-Font_Family */
	font-size: 12pt; /* MainContent-ClickablesDefault-Font_TextSize */
	color: #FFFFFF; /* MainContent-ClickablesDefault-Font_Color */
	font-weight: bold; /* MainContent-ClickablesDefault-Font_Weight */

	/* MainContent-ClickablesDefault-Background */
	background-color: #444444; /* MainContent-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-ClickablesDefault-Background_Image */
	background-position: left top;  /* MainContent-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-ClickablesDefault-Background_Image-Repeat */
    }


    .wm_template .MainContent .wmprogressbar .dijitProgressBar {
	/* MainContent-EditorsDefault-Font */
	font-family: sans-serif; /* MainContent-EditorsDefault-Font_Family */
	font-size: 12pt; /* MainContent-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* MainContent-EditorsDefault-Font_Color */
	font-weight: bold; /* MainContent-EditorsDefault-Font_Weight */

	/* MainContent-EditorsDefault-Background */
	background-color: #444444; /* MainContent-EditorsDefault-Background_Color */
	background-image: url(images/threeD.png); /* MainContent-EditorsDefault-Background_Image */
	background-position: left top;  /* MainContent-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* MainContent-EditorsDefault-Background_Image-Repeat */
    }

}



@media screen { /* EmphasizedContent-Level */ 
    .wm_template .EmphasizedContent .wmprogressbar .dijitProgressBarTile {
	/* EmphasizedContent-ClickablesDefault-Font */
	font-family: sans-serif; /* EmphasizedContent-ClickablesDefault-Font_Family */
	font-size: 12pt; /* EmphasizedContent-ClickablesDefault-Font_TextSize */
	color: #FFFFFF; /* EmphasizedContent-ClickablesDefault-Font_Color */
	font-weight: bold; /* EmphasizedContent-ClickablesDefault-Font_Weight */

	/* EmphasizedContent-ClickablesDefault-Background */
	background-color: #444444; /* EmphasizedContent-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* EmphasizedContent-ClickablesDefault-Background_Image */
	background-position: left top;  /* EmphasizedContent-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* EmphasizedContent-ClickablesDefault-Background_Image-Repeat */
    }


    .wm_template .EmphasizedContent .wmprogressbar .dijitProgressBar {
	/* EmphasizedContent-EditorsDefault-Font */
	font-family: sans-serif; /* EmphasizedContent-EditorsDefault-Font_Family */
	font-size: 12pt; /* EmphasizedContent-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* EmphasizedContent-EditorsDefault-Font_Color */
	font-weight: bold; /* EmphasizedContent-EditorsDefault-Font_Weight */

	/* EmphasizedContent-EditorsDefault-Background */
	background-color: #444444; /* EmphasizedContent-EditorsDefault-Background_Color */
	background-image: url(images/threeD.png); /* EmphasizedContent-EditorsDefault-Background_Image */
	background-position: left top;  /* EmphasizedContent-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* EmphasizedContent-EditorsDefault-Background_Image-Repeat */
    }

}


@media screen { /* HeaderContent-Level */ 
    .wm_template .HeaderContent .wmprogressbar .dijitProgressBarTile {
	/* HeaderContent-ClickablesDefault-Font */
	font-family: sans-serif; /* HeaderContent-ClickablesDefault-Font_Family */
	font-size: 12pt; /* HeaderContent-ClickablesDefault-Font_TextSize */
	color: #FFFFFF; /* HeaderContent-ClickablesDefault-Font_Color */
	font-weight: bold; /* HeaderContent-ClickablesDefault-Font_Weight */

	/* HeaderContent-ClickablesDefault-Background */
	background-color: #444444; /* HeaderContent-ClickablesDefault-Background_Color */
	background-image: url(images/threeD.png); /* HeaderContent-ClickablesDefault-Background_Image */
	background-position: left top;  /* HeaderContent-ClickablesDefault-Background_Image-Position */
	background-repeat: repeat-x; /* HeaderContent-ClickablesDefault-Background_Image-Repeat */
    }


    .wm_template .HeaderContent .wmprogressbar .dijitProgressBar {
	/* HeaderContent-EditorsDefault-Font */
	font-family: sans-serif; /* HeaderContent-EditorsDefault-Font_Family */
	font-size: 12pt; /* HeaderContent-EditorsDefault-Font_TextSize */
	color: #FFFFFF; /* HeaderContent-EditorsDefault-Font_Color */
	font-weight: bold; /* HeaderContent-EditorsDefault-Font_Weight */

	/* HeaderContent-EditorsDefault-Background */
	background-color: #444444; /* HeaderContent-EditorsDefault-Background_Color */
	background-image: url(images/threeD.png); /* HeaderContent-EditorsDefault-Background_Image */
	background-position: left top;  /* HeaderContent-EditorsDefault-Background_Image-Position */
	background-repeat: repeat-x; /* HeaderContent-EditorsDefault-Background_Image-Repeat */
    }

}




