@import url("custom.css"); /* Edit this file if your editting by hand and don't want the themedesigner to overwrite your changes */


  /**************************************************************************************************
   * TYPE:        Button Focus for wm.Button and TabControls
   *
   * DESCRIPTION: get rid of focus outline whose color isn't at all in common with this theme,
   *              and which some browsers make a bit harder to control (further work may make this 
   *              unnecessary
   ************************************************************************************************/
body .wm_template input:focus,
.wm_template button, .wm_template button:focus {
    outline-width: 0 !important;
}


  /**************************************************************************************************
   * TYPE:        Links
   *
   * DESCRIPTION: The standard blue underline just isn't a good choice on arbitrary backgrounds.
   *              To insure a good color, just go with the specified font color and use the underline
   *              and bold to illustrate that its a link.
   ************************************************************************************************/

@media screen { /* Document-Level */ 
    .wm_template #studio_themesPage_themeDesigner_demoPanel .wmlayout a,
    .wm_template #studio_themesPage_themeDesigner_demoPanel .wmlayout a:visited,
    #studio_designer.wm_template .wmlayout a,
    #studio_designer.wm_template .wmlayout a:visited,
    .wm_template  #wavemakerNode  .wmlayout a,
    .wm_template  #wavemakerNode  .wmlayout a:visited {
	color: #FFFFFF; /* Document-Styles-Font_Color */
	font-weight: bold;
    }
}

@media screen { /* MainContent-Level */ 
    .wm_template #studio_themesPage_themeDesigner_demoPanel .wmlayout .MainContent a,
    .wm_template #studio_themesPage_themeDesigner_demoPanel .wmlayout .MainContent a:visited,
    #studio_designer.wm_template .wmlayout .MainContent a,
    #studio_designer.wm_template .wmlayout .MainContent a:visited,
    .wm_template  .wmlayout .MainContent a,
    .wm_template  .wmlayout .MainContent a:visited {
	color: #FFFFFF; /* MainContent-Styles-Font_Color */
    }
}


@media screen { /* EmphasizedContent-Level */ 
    .wm_template #studio_themesPage_themeDesigner_demoPanel .wmlayout .EmphasizedContent a,
    .wm_template #studio_themesPage_themeDesigner_demoPanel .wmlayout .EmphasizedContent a:visited,
    #studio_designer.wm_template .wmlayout .EmphasizedContent a,
    #studio_designer.wm_template .wmlayout .EmphasizedContent a:visited,
    .wm_template  .wmlayout .EmphasizedContent a,
    .wm_template  .wmlayout .MainContent a:visited {
	color: #FFFFFF; /* EmphasizedContent-Styles-Font_Color */
    }
}

@media screen { /* TOCContent-Level */ 
    .wm_template #studio_themesPage_themeDesigner_demoPanel .wmlayout .TOCContent a,
    .wm_template #studio_themesPage_themeDesigner_demoPanel .wmlayout .TOCContent a:visited,
    #studio_designer.wm_template .wmlayout .TOCContent a,
    #studio_designer.wm_template .wmlayout .TOCContent a:visited,
    .wm_template  .wmlayout .TOCContent a,
    .wm_template  .wmlayout .TOCContent a:visited {
	color: #FFFFFF; /* TOCContent-Styles-Font_Color */
    }
}

@media screen { /* ToolbarContent-Level */ 
    .wm_template #studio_themesPage_themeDesigner_demoPanel .wmlayout .ToolbarContent a,
    .wm_template #studio_themesPage_themeDesigner_demoPanel .wmlayout .ToolbarContent a:visited,
    #studio_designer.wm_template .wmlayout .ToolbarContent a,
    #studio_designer.wm_template .wmlayout .ToolbarContent a:visited,
    .wm_template  .wmlayout .ToolbarContent a,
    .wm_template  .wmlayout .ToolbarContent a:visited {
	color: #FFFFFF !important; /* ToolbarContent-Styles-Font_Color */
    }
}



/* END SECTION wm.Layout */





/* Custom CSS goes below this line */