.Main .Main-CenteredLayout {
    background: #B8B8B8 
}

.Main .Main-labHome {
    color: #326dcf
}

.Main .Main-labMyAccount {
    color: #326dcf
}

.Main .Main-labUserAccount {
    color: #326dcf
}

.Main .Main-labProject {
    color: #326dcf
}

.Main .Main-labIssue {
    color: #326dcf
}

.Main .Main-labLogout {
    color: #326dcf
}

.Main .Main-panRest {
    background: #B8B8B8 
}
.Main .Main-contentPanel {
	   background: #B8B8B8 
}

.Main .Main-pcPages {
	   background: #FFFFFF
}

