body.tundra .editor .wmlayout .editor-panel12 {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: bold;
font-size:32px;
line-height: 28px;
color: #00539b;
letter-spacing: -0.015em;
text-shadow: 0 1px 1px #0e7dc2;
white-space: nowrap;
}

