.Project .Project-labProjectHeader {
  color: #FF9933
}

.Project .Project-labVersion {
    color: #326dcf
}

.Project .dojoxGrid-header .dojoxGrid-cell {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:#656565 none repeat-x scroll center top;
  background-image: url('resources/images/header/gridbar.png');
  background-repeat: repeat-x;
  border:1px solid #FFFFFF;
  color:#FFFFFF;
  font-size:12px;
}

.Project .dojoxGrid-header {
  background-color:#FFFFFF;
}

.Project .Project-labVersionHeader {
	  color: #FF9933
}

.Project .Project-labProject {
	    color: #326dcf
}

.Project .Project-labErrorPfx {
	color: red
}

