.FlicrkPage .FlicrkPage-appNameLabel {
  color:#ff0d8a
}

.FlicrkPage .FlicrkPage-key {
  background:#1180dd
}

.FlicrkPage .FlicrkPage-editor1 {
  background:#1180dd
}

.FlicrkPage .FlicrkPage-panel2 {
  background:#f7f7f7
}

.FlicrkPage .FlicrkPage-button1 {
  background:#f7f7f7;
  color:#ff0d8a;
}

.FlicrkPage .FlicrkPage-splitter2 {
  background:#ff0d8a
}

.FlicrkPage .FlicrkPage-splitter3 {
  background:#ff0d8a
}

.FlirckPage .FlirckPage-picture1 {
	margin:0px auto;
	background:#DFDFDF;

}

.FlirckPage .FlirckPage-button1 {
    background:#f7f7f7;
    color:#ff0d8a;
}

.FlirckPage .FlirckPage-editor2 {
    background:#1180dd
}

.FlirckPage .FlirckPage-editor1 {
    background:#1180dd
}

.FlirckPage .FlirckPage-splitter1 {
    background:#ff0d8a
}

.FlirckPage .FlirckPage-splitter2 {
   background:#ff0d8a
}

.FlirckPage .FlirckPage-appNameLabel {
    color:#ff0d8a
}

.FlirckPage .FlirckPage-panel2 {
    background:#f7f7f7
}

.FlirckPage .FlirckPage-label2 {
	color:#FF0084
}

