.FeedReaderPage .FeedReaderPage-panel3 {
  background:#f7d085
}

.FeedReaderPage .FeedReaderPage-template2 {
    background:#92501d
}

.FeedReaderPage .FeedReaderPage-panel4 {
  background:#ededdb
}

.FeedReaderPage .FeedReaderPage-splitter1 {
  background:#fff;
}

.FeedReaderPage .FeedReaderPage-splitter2 {
  backgroun:white
}

