.WeatherForecastPage .WeatherForecastPage-template1 {
	background:#003366;
}

.WeatherForecastPage .WeatherForecastPage-appNameLabel {
	color:#f4f4f4;
}

.WeatherForecastPage .WeatherForecastPage-panel1 {
	background:#e6e6e6;
}

.WeatherForecastPage .WeatherForecastPage-layoutBox1 {
	background:#6699cc;
}

