Name: wavemaker-@PROJECTTYPE@
Version: @VERSION@
Release: @VERSION@
License: WaveMaker Inc, 2010
Packager: Ed Callahan <community@wavemaker.com>
Vendor: WaveMaker Inc
URL: http://wavemaker.com
BuildRoot: @BUILDROOT@
%define _topdir @TOPDIR@
Summary: AJAX RAD Studio
Group: Application/Devel
AutoReqProv: no

%description 
WaveMaker provides for the Web-Fast development of CIO-Safe applications.

%files
