.subheading {
   font-weight: bold;
   font-size: 1.1em;
}
.tips {
    font-size: 1.1em;
}

.LoginInputs input {
font-size: 16px;
font-style: normal;
background-color: #ffffff;

}




html.WMApp body .labelError {
font-size: 16px;
font-weight: bold;
border-radius-topleft: 4px !important;
border-radius-bottomleft: 4px !important;
-webkit-border-top-left-radius: 4px !important;
-webkit-border-bottom-left-radius: 4px !important;
}
rder-radius-topleft: 4px !important;
border-radius-bottomleft: 4px !important;
-webkit-border-top-left-radius: 4px !important;
-webkit-border-bottom-left-radius: 4px !important;
}

